[2020-11-09 15:53] alex-moffitt opened #1 "Unsupported data type in custom op handler"
I'm running Python3.7 docker image with libedgetpu1-max (tried std as well) and as of yesterday I am no longer able to find the python3-pycoral package (which seemed to work while it was there).

I have since installed pycoral-1.0.0-cp37-cp37m-linux_aarch64.whl and tflite_runtime-2.5.0-cp37-cp37m-linux_aarch64.whl and am now getting the following error:

Unsupported data type in custom op handler:

[2020-11-09 19:10] teraSurfer commented on #1
I'm also facing the same issue with raspberry pi 4, I've tried it with the new tflite_runtime-2.5.0-cp37-cp37m-linux_armv7l.whl and I'm using libedgetpu1-std version 14.1. Any help on this will be great.

[2020-11-09 19:41] Namburger commented on #1
Hi guys, We recently have a release of libedgetpu which may have caused some mismatches.
Could you share the outputs of this command:
[code]

[2020-11-09 19:57] teraSurfer commented on #1
[code]

[2020-11-09 20:00] Namburger commented on #1
@teraSurfer Can you try a an apt update and reinstall `libedgetpu`?
Basically, your version should be 15.0 for it to be compatible with tflite_runtime 2.5.

[2020-11-09 20:14] teraSurfer commented on #1
@Namburger I tried it but I'm not seeing version 15.0 available anywhere.
https://packages.cloud.google.com/apt/dists/coral-edgetpu-stable/main/binary-armhf/Packages only shows version 14.1

[2020-11-09 20:55] a-rich commented on #1
Same issue here -- also not seeing where version 15.0 is:

[code]

[2020-11-09 21:14] sacefe commented on #1
same issue , and not seeing version 15

<pre>$ dpkg -l | grep libedgetpu
ii  <font color="#EF2929"><b>libedgetpu</b></font>1-std:amd64                      14.1                                                                        amd64        Support library for Edge TPU
</pre>

<pre>$ python3 classify_image.py --model models/mobilenet_v2_1.0_224_inat_bird_quant_edgetpu.tflite --labels models/in

[2020-11-09 22:19] Namburger commented on #1
Hi all, sorry about that, it seems like new package isn't uploaded to our apt repo for armv7l and arm64, but it is for x86_64.

For now, please download the new `libedgetpu` from this link and unzip it:
[code]
and then points `LD_LIBRARY_PATH` to the path of the new share library when you run the example (for instance, this is how I ran it on the Dev Board):
[code]

Will update you guys as soon as

[2020-11-09 22:40] teraSurfer commented on #1
I downloaded from the unstable link and it is working fine. Thank you!

[2020-11-09 22:57] Namburger commented on #1
@teraSurfer thanks for confirming and apologies, we'll have the new version reup soon

[2020-11-10 00:30] sacefe commented on #1
@Namburger   do you have the new similar version for windows 10?

[2020-11-10 17:28] AustinDeric commented on #1
I downloaded the link provided here for the libedgetpu: https://github.com/google-coral/pycoral/issues/1#issuecomment-724312390

I also used the test_data submodule in this repo: https://github.com/google-coral/test_data/tree/c21de4450f88a20ac5968628d375787745932a5a

[code]

[code]

[2020-11-12 22:23] Cganzorig opened #2 "Linux install issue"
I could not install pycoral on Linux. Seems like the link is broken:
https://github.com/google-coral/pycoral/releases/download/release-frogfish/pycoral-1.0.0-py3-none-any.whl

[2020-11-12 22:28] Namburger commented on #2
@Cganzorig sorry, where did you get the link from?
Here is where you can get the right package for your system:
https://github.com/google-coral/pycoral/releases/

[2020-11-12 22:31] Cganzorig commented on #2
Thanks for the quick answer. It was in the official website:
https://coral.ai/software/#coral-python-api
If possible, could you update the link?

[2020-11-12 22:34] Namburger commented on #2
@Cganzorig thanks for reporting, we'll definitely get this fixed

[2020-11-12 22:39] #2 closed

[2020-11-13 00:34] Cganzorig opened #3 "Siamese network support"
The topic is not about an issue with pycoral. Just would like to ask if there is any way to support seamese network on edge TPU. Any suggestions will be appreciated.

[2020-11-13 14:10] Namburger commented on #3
@Cganzorig I'm not so sure about Siamese, since from what I can tell it will requires 2 inputs at the same time, which the edgetpu wouldn't be able to support.
@Naveen-Dodda do you know much about this network?

[2020-11-15 08:55] niciBume opened #4 "MacOS broken wheels"
Hi,
I just wanted to mention that the links to the MacOS PyCoral API wheels are broken https://coral.ai/software/
"https://github.com/google-coral/pycoral/releases/download/release-frogfish/pycoral-1.0.0-cp36-cp36m-macosx_10_14_x86_64.whl" I swapped 10_14 with 10_15 and it works.
Just wanted to give a heads up 👍

[2020-11-15 13:00] Namburger commented on #4
Hello, thanks for the heads up, this must be a typo, where do you see it?

[2020-11-15 13:50] niciBume commented on #4
No Problem. https://coral.ai/software/#pycoral-api under MacOS10.15, I suppose all links have the typo

[2020-11-18 02:21] Naveen-Dodda commented on #3
@Cganzorig officially we haven't tested a seamese network on edgetpu. But we do support multiple input/output  tensors. As long as tensors fit in on chip memory and all the ops are supported by compiler. I do n't see any problem.

I recommend you to give a try : first step is test a Int8 quantised model.

Hope this help

[2020-11-20 06:25] jingw222 commented on #1
Maybe a bit off-topic, but how can I rollback to `libedgetpu1-std=14.1` now that it seems v15.0 is the only available deb package from the official repository? Are there archived versions hosted somewhere?

[2020-11-20 13:53] Namburger commented on #1
@jingw222 yes, you can visit coral.ai/software, there'll be a section with the edgetpu tarballs including release date and installation script.

Another way is to install python3-edgetpu which will install a "legacy" libedgetpu package from our apt repo

[2020-11-20 13:53] #1 closed

[2020-11-20 14:19] jingw222 commented on #1
Thank you, Nam! Just managed to install a legacy `libedgetpu-std` package via the second option, which was quite interestingly also v15.0. In fact, I could have just installed the package directly by a different name as `libedgetpu1-legacy-std`. The two packages live side by side.

[2020-11-20 14:25] Namburger commented on #1
@jingw222 yes, that's correct, it's an attempt for s to make sure that users doesn't get the wrong configurations and run into issues

[2020-11-24 15:05] vinceab opened #5 "PyCoral Vs TfLite_runtime"
Hello,

By reading the python quickstart:
https://www.tensorflow.org/lite/guide/python
I understand that the tflite_runtime is installed thank to python wheel packages regenerated via pycoral.
Is my understanding right?

In that case what is their any adherence with the tflite_runtime generated via TensorFlow Lite github.
The version also does not match. Official Tensorflow Lite version (so runtim

[2020-11-24 15:21] Namburger commented on #5
Hi @vinceab
The only different between pycoral and tflite_runtime is the API. We added adapters for easy parsing of outputs for common models like classification and detections. [Here](https://github.com/google-coral/pycoral/blob/master/examples/detect_image.py#L85) is an example of that.

Regarding to version, you should be using 2.5.0 for the tflite_runtime package, not  v2.3.1, may I know where

[2020-11-24 15:42] vinceab commented on #5
Hi @Namburger

I actually get the TFLite_intepreter by regenerating the python package from TensorFlow github version 2.3.1:
tensorflow/lite/tools/pip_package/build_pip_package.sh
As the last stable version is the version 2.3.1 I am expecting the TFLite_interpreter version is v2.3.1.

May I ask you same question? :) From wich source code did you get the 2.5.0 TFLite_runtime version?

I am a little

[2020-11-24 16:00] Namburger commented on #5
hello @vinceab
Oh I see, the tflite_runtime package that we built and release is from [this TensorFlow commit](https://github.com/google-coral/pycoral/blob/master/WORKSPACE#L18). The special thing about it is just that is is the same commit that we used to load `libedgetpu` dynamic library, so it is crucial that both matches or else you'll get:
[code]

[2020-11-24 16:46] vinceab commented on #5
@Namburger

So if I understand well, the version of the tflite_runtime v2.5.0 you released is not correlated with the TensorFlow versioning.
The branch your are referring to is in the master branch? The ancestor seems to be v1.12.1 which is old no? How far are is this commit from the v2.3.1?
Frankly speaking it is a really difficult to understand the merging flow.
Is it planned to align both Coral

[2020-11-25 06:34] openedhardware commented on #1
Hi, @Namburger

When do you expect the armv7l and arm64 uploaded to the repo?

[2020-11-25 08:20] vinceab commented on #5
Its is now pretty clear by reading this:
https://coral.ai/docs/notes/build-coral

I understand that I need to rebuild the libedgetpu against the tensorflow lite v2.3.1 if I want it working with my runtime.

Vincent

[2020-11-25 12:33] Namburger commented on #1
Hello @openedhardware its all uploaded by now, if you install python3-pycoral package, everything should be updated!

[2020-11-25 14:07] Namburger commented on #5
@vinceab yes, and I understand it could get confusing. Anyhow:

Yes we do, and actually, it is aligned, it's just that any of the stable released branches right now doesn't contains all the features that libedgetpu currently use. So that commit is actually from the master branch, ahead of all the stable release!

Closing for now, feel free to continue the questions here!

[2020-11-25 14:07] #5 closed

[2020-12-04 20:30] fgervais opened #6 "Python 3.9 support"
I'd like to try and build tflite_runtime myself for python 3.9.

Any guidelines on how I would go about doing that?

[2020-12-04 22:41] Namburger commented on #6
Hello @fgervais
You'd have to create a target for python3.9 and build from here as we don't have supports for 3.9 at this time:
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/tools/pip_package

Also, make sure that you checked out [this commit](https://github.com/google-coral/pycoral/blob/master/WORKSPACE#L18) of tensorflow before building it!

[2020-12-08 20:30] fgervais commented on #6
I want to report my progress as it seems I might have a working milestone.

What I did is I went in there:

https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/tools/pip_package

at current `tensorflow` `master` (`5453cf0b1c8359c0ee6afef8393b350c832a9123`)

Then I commented out the python2 stuff as it doesn't seem to be packaged for newer debian version:

[code]

Then I built usin

[2020-12-09 02:46] Namburger commented on #6
Nice!!!!

[2020-12-11 15:10] fgervais commented on #6
I tested the package I built on an M.2 edgetpu module and it does inference fine.

Should I close this issue or do we leave it open until official support for python 3.9?

[2020-12-11 22:40] Namburger commented on #6
@fgervais yes, please keep it open until we have an official package, thanks!

[2020-12-15 01:04] prettyflyforabeeguy opened #7 "support for armv6l?"
Is there support for armv6l  (i.e. Raspberry Pi Zero W)
If no support exists currently, is there a way I can build this natively to support this ARM32 device?

More about the device I'm attempting to use the tflite_runtime on:
$ python3 --version
	Python 3.7.3

$ cat /etc/os-release
	PRETTY_NAME="Raspbian GNU/Linux 10 (buster)"
	NAME="Raspbian GNU/Linux"
	VERSION_ID="10"
	VERSION="10 (buster)"
	VE

[2020-12-15 01:39] Namburger commented on #7
Hello, this issue have been addressed before and users have been success in doing this. You can take a look at this thread for more info: https://github.com/google-coral/edgetpu/issues/229#issuecomment-704576309

[2020-12-15 01:39] #7 closed

[2020-12-15 02:25] prettyflyforabeeguy commented on #7
Thank you for the quick reply, but I'm am not using docker and I am not trying to use libedgetpu, however I'm willing to try anything if I can get tflite working on the armv6l
I'm trying to follow the instructions https://www.tensorflow.org/lite/guide/build_rpi and https://www.tensorflow.org/lite/guide/python
I can import tensorflow just fine, but trying to use the tflite_runtime is where things f

[2020-12-15 02:58] Namburger commented on #7
@prettyflyforabeeguy hello, docker is specifically and it is very important piece for building and you won't be able to do anything without libedgetpu.so.
Basically you'll need to compile the needed libraries on an x86_64 machineand cross compile it for armv6l. We already provided compatible docker containers to get this going so without that it'll only make it harder for you to get thins going!!

[2020-12-15 03:29] prettyflyforabeeguy commented on #7
@Namburger you are my new best friend whom I've never met!!!
Somehow I missed the link to the .whl file that rhadnum had shared.  Thank you thank you thank you for taking the time to write up such a wonderful explanation but in the end I didn't need to do any of that.   I simply downloaded the [tflite_runtime-2.3.1-cp37-cp37m-linux_armv6l.whl](https://drive.google.com/file/d/1mW8QGmhfk4kRYXqUTEH1c

[2020-12-15 12:50] Namburger commented on #7
Nicee and no probs :)

[2020-12-26 20:36] ricardodeazambuja opened #8 "Is there a special reason for armv6 to be ignored?"
The Coral TPU USB version would be a lovely alternative to add inference powers to a RPI 0, but since the last release from https://github.com/google-coral/edgetpu-platforms it seems to only support Python 3.5.

I would like to try to make things work with the RPI 0, but before I spend time on this I would be really glad to know whether or not it's feasible ;)

[2020-12-26 23:40] Namburger commented on #8
I guess you already found this? https://github.com/google-coral/pycoral/issues/7

[2020-12-27 15:00] ricardodeazambuja commented on #8
Hi @Namburger, yes I did find it. However, I'm still lost. I can see there's a version of the runtime available:
$ sudo apt install python3-tflite-runtime
It installs the 2.5.0 and I can import it (python3):
[code]
However, every example I tried gives me "Illegal instruction".

Actually, there are a lot of things available:
$ sudo apt list | grep edgetpu
edgetpu-examples/coral-edgetpu-stable 15.0

[2020-12-27 15:10] ricardodeazambuja commented on #8
I just tried to remove the python3-tflite-runtime and install python3-pycoral. It installed python3-tflite-runtime again (lol) and that made me feel like it should work (after all, the maintainers would not push packages that ask for the wrong dependencies...). Then I cloned https://github.com/google-coral/pycoral and tried the examples, but I always get the "Illegal instruction".
[code]
and
[code

[2020-12-28 09:58] ricardodeazambuja commented on #8
Ok, I posted a comment directly on [#229](https://github.com/google-coral/edgetpu/issues/229#issuecomment-751504398) where I fully describe my attempt to generate my own pip packed for the RPI 0.

What would be the advantage of adding this [extra / optional layer (pycoral)](https://coral.ai/docs/edgetpu/inference/) to the process? Will google give up the tflite_runtime way in the near future?

[2020-12-28 13:55] Namburger commented on #8
@ricardodeazambuja use this package instead, someone has already built the tfltie_package before and proved to be working: https://github.com/google-coral/edgetpu/issues/229#issuecomment-708478704

We won't be able to change the tflite_runtime package builds since it is owned by the tensorflow team and changes there can break compatibility to newer OS. I suggest using that package and ust build yo

[2020-12-28 14:20] ricardodeazambuja commented on #8
Thanks @Namburger for your reply, but if someone managed to build the pip package for the RPI0 that confirms it's possible, so I want to know the "secret sauce" to make sure I will be able to build it in the future myself :)

I'm planning to use the Coral TPU USB for my research project (up to 3 years!) and I can't depend on something downloaded from a random gdrive link.

[2020-12-28 14:27] Namburger commented on #8
@ricardodeazambuja fair enough :)

[2020-12-28 17:37] scottamain commented on #8
Hey @ricardodeazambuja, the pycoral library is built on top of (it depends on) the tflite_runtime library, so we're not going to give up on the Edge TPU support for those TF Lite APIs. The pycoral advantage is some convenience APIs for inferencing, additional APIs for on-device transfer learning, and pipelining with multiple Edge TPUs. It's not required.

Also, you should find everything you need

[2020-12-28 18:01] Namburger commented on #8
@scottamain the problem here is that the tflite_runtime package isn't built for armv6 any longer, this hasn't ben working for a while now, so @ricardodeazambuja needs to rebuild that wheel for his specific need.
He actually done it and post progress here :)
https://github.com/google-coral/edgetpu/issues/229#issuecomment-751504398

[2020-12-28 18:01] #8 closed

[2020-12-28 18:52] scottamain commented on #8
Yeah, and building tflite_runtime is covered in the doc I shared.
(We never claimed we would support armv6; that one-time build was never official.)

[2020-12-28 22:02] ricardodeazambuja commented on #8
By just following the instructions [here](https://coral.ai/docs/notes/build-coral/#build-the-tf-lite-runtime-tflite_runtime), it's not possible to build it for the RPI 0. In the best scenario, it doesn't link latomic...

[2020-12-29 13:26] ricardodeazambuja commented on #8
Ok, I forked the repos, made some modifications and now I am able to generate the tflite_runtime (compiled directly on the RPI0) and the libedgetpu :)
https://github.com/ricardodeazambuja/libedgetpu/releases/tag/rpi0_tflite_edgetpu

[2021-01-02 01:37] radu-at opened #9 "FAILED: Build did NOT complete successfully Makefile:155: recipe for target 'pybind' failed"
I'm trying to build pycoral on a Debian 10 machine, I have the Mini PCIe Accelerator connected on the Mini PCIe for the WiFi card on a laptop AMD Turion(tm) II Dual-Core Mobile M520 with Docker

[code]

[code]

[code]

[code]

[code]

[code]

**both scripts failed on the same way, any advise will be appreciated:**

[code]

[code]

[2021-01-02 20:32] thekazak commented on #6
@fgervais it helps build install tensorflow/lite with python 3.9
but what about pycoral? I need it on python 3.9 together with tensorflow lite

[2021-01-02 20:59] fgervais commented on #6
Humm I'm not sure, I haven't used pycoral for my inferences.

[2021-01-03 18:42] #9 closed

[2021-01-06 01:08] seanreynoldscs commented on #1
Hey, I'm also seeing this error.
  File "/usr/lib/python3/dist-packages/tflite_runtime/interpreter.py", line 154, in load_delegate
    raise ValueError('Failed to load delegate from {}\n{}'.format(
ValueError: Failed to load delegate from libedgetpu.so.1

I see:
$ dpkg -l | grep libedgetpu
rc  libedgetpu1-max:arm64                  15.0                              arm64        Support library for

[2021-01-06 01:13] Namburger commented on #1
@seanreynoldscs try this:
[code]

if it still doesn't work, I suggest sending an strace:
[code]

[2021-01-06 01:19] seanreynoldscs commented on #1
Umm... Wow... okay so can you explain that ? :) it worked.
+1 for super quick feedback too!

[2021-01-06 01:26] Namburger commented on #1
Nice, that means you were blocked by the linux user permission, normally this is already allowed by default so some users doesn't have this problems!

[2021-01-08 17:24] Luke1962 commented on #1
Hi, me too with this error, after migrating yesterday from _python3-edgetpu_ to _python3-coral_ libraries (see https://coral.ai/software/)
My platform : Arm + Ubuntu 18.04 + Python 3.6.9 ( + ROS Melodic)
I was using this model : /**mobilenet_ssd_v2_face_quant_postprocess_edgetpu**.tflite, which was perfectly working with previous _python3-edgetpu_ lib.
Steps to reproduce:
[code]

BUT, if I change

[2021-01-08 17:29] Namburger commented on #1
@Luke1962 model should still works. Besides from the pythonpackage, you'll also need to install the new `libdgetpu.so`:
https://coral.ai/software#debian-packages

[2021-01-08 22:58] seanreynoldscs commented on #1
Okay new issue. I swapped the USBC for the M.2 B+M key.
What is weird is I'm having the same issue as before, but now the command you gave me doesnt work.

$ python3 examples/classify_image.py --model test_data/mobilenet_v2_1.0_224_inat_bird_quant_edgetpu.tflite --labels test_data/inat_bird_labels.txt --input test_data/parrot.jpg
Traceback (most recent call last):
  File "/usr/lib/python3/dist-pac

[2021-01-12 18:35] bpinaya opened #10 "Installation issue on x64"
Hi there, I've followed your building guide, and while installing the wheels built from source I had the following error.
[code]
Same thing happens if I try to install from any of the release wheels for x64. Wonder if you have any ideas.

[2021-01-13 15:29] rose-jinyang opened #11 "Support for OpenCL backend TFLite runtime package"
Hello
How are you?
Thanks for contributing to this project.
I am going to install the OpenCL backend Tensorflow Lite runtime package for Python 3.7 on RK3399 device.

OS Platform: Ubuntu 18.04 aarch64
Mobile device: RK3399
GPU: Mali T860
OpenCL: 1.2
gcc(g++): 7.5
CMake: 3.18

Could u provide this asap?
Thanks

[2021-01-14 14:11] Namburger commented on #11
@rose-jinyang hello, sorry but OpenCL isn't a supported platform for us.
I suggest that you drop by the [tensorflow](https://github.com/tensorflow/tensorflow) page for this support

[2021-01-14 14:11] #11 closed

[2021-01-14 14:17] Namburger commented on #10
Hello, could you point me to the build from source guide that you are following?

[2021-01-14 15:22] bpinaya commented on #10
The ones in your [readme](https://github.com/google-coral/pycoral/blob/master/README.md).

[code]
Then I want to install the wheels. Installing the `tflite_runtime-2.5.0-cp36-cp36m-linux_x86_64.whl` works ok.
but when installing `pip3 install pycoral-1.0.0-cp36-cp36m-linux_x86_64.whl` I get the error mentioned above.

My python version is `3.6.9`. Since then I tried building in a conda environment

[2021-01-14 15:29] Namburger commented on #10
@bpinaya I see, that's actually really odd, look forward to hear more

[2021-01-14 16:26] bpinaya commented on #10
Well I'm closing this since I already have it running inside conda. I also manage to install it outside conda by just using `sudo pip3 install ...` which is of course [not a recommended practice](https://askubuntu.com/questions/802544/is-sudo-pip-install-still-a-broken-practice).
Tried in a conda env with python `3.6.9` and it works too.

I also tried using your release versions `https://github.co

[2021-01-14 16:26] #10 closed

[2021-01-14 16:31] Namburger commented on #10
@bpinaya
outside of conda without sudo is usually normal since th OS would block you from installing it for other user. You can install it like this:
[code]

But I'm still not sure about your other errors :/

[2021-01-14 16:33] bpinaya commented on #10
Tried outside conda without sudo like:
[code]
and still nothing:
[code]
It's fine, as long as I can run it on conda I'm ok, thanks for the interest!

[2021-01-18 00:51] Onay opened #12 "Missing binding for tflite interpreter causes edgetpu.run_inference() to fail"
According to the documentation, PyCoral improves upon the Edge TPU Python API because it treats the Edge TPU operations as I/O-bound:

However, upon inspection of the code, calling interpreter.invoke() simply uses the existing tflite_runtime invoke() function. The only function that appears to be consistent with the documentation is `pycoral.utils.edgetpu.run_inference()`, which calls i/o-bounded

[2021-01-19 20:34] dmitriykovalev commented on #12
There is a `pybind` layer between `pycoral` and `libcoral`. For example, `InvokeWirhMemBuffer` is defined here: https://github.com/google-coral/pycoral/blob/276d0d693f752635c2042ecd5d6a4e348fa03b3f/src/coral_wrapper.cc#L211

The first argument must be `tflite_runtime.Interpreter` instance, the second is a raw buffer pointer (integer), and the third one is a buffer size. Looks like there is a way t

[2021-01-19 20:42] Onay commented on #12
Thanks for your response. I installed the frogfish pip wheel of PyCoral from here:

https://github.com/google-coral/pycoral/releases/download/release-frogfish/pycoral-1.0.0-cp37-cp37m-macosx_10_15_x86_64.whl

Is it possible that the pybind layer is not installed properly when installing the wheel? Based on the error messages in my original post, it seems that the pybind thinks that arg0 is suppose

[2021-01-19 21:18] dmitriykovalev commented on #12
Sorry for confusion, the first argument should be `interpreter._native_handle()` as it's defined in `run_inference()`. Can you please provide python code snippet which generates the error?

[2021-01-19 21:25] Onay commented on #12
Sure. Hopefully this will be enough to diagnose the problem:

[code]

[2021-01-19 23:57] dmitriykovalev commented on #12
There is a small test program which uses `run_inference` function and uses `threading` module. Could you try  to run it locally and see how that goes? It would be nice to have an easy way to reproduce your problem.

 You'll  need to download test data first:
[code]
and then run:
[code]

It works fine on my Mac machine:

[code]

[2021-01-20 00:04] Onay commented on #12
Thanks. I ran your code. It fails on my Raspberry Pi:

[code]

[2021-01-27 20:31] patcombe opened #13 "Can't run custom tflite model using PyCoral"
- Attempting to run a custom model (based on MobileDet) using PyCoral
- Below code is how I ran it. Basing it off of the example provided for object detection (which does work when using the sample coco mobilenet model)
- Not entirely sure what is going wrong here - any help would be greatly appreciated!
- Below I am using the parrot image (provided from the classification example) for object dete

[2021-01-29 16:15] #13 closed

[2021-01-29 20:10] Onay commented on #12
@dmitriykovalev do you have any other recommendations? Given that it works on your Macbook (presumably x86) but not on the Raspberry Pi 4 (armv7), I'm wondering if the issue has something to do with the `tflite_runtime` library for armv7

[2021-01-29 22:53] dmitriykovalev commented on #12
Sorry for the delay. The culprit of `TypeError: InvokeWithMemBuffer(): incompatible function arguments` is a bug inside [coral_wrapper.cc](https://github.com/google-coral/pycoral/blob/276d0d693f752635c2042ecd5d6a4e348fa03b3f/src/coral_wrapper.cc#L212): `uintptr_t` should be used instead of `intptr_t` in `InvokeWithMemBuffer().` We already have the fix locally but have not updated GitHub yet. Fixed

[2021-01-29 23:04] Onay commented on #12
No problem. Thanks for uploading the fix. I replaced the `_pywrap_coral.cpython-37m-arm-linux-gnueabihf.so` library per your instructions and executed the sample program you provided again. Unfortunately, I'm getting the following `ImportError`:

[code]

I suspect this is because the `.so` binary was built in Docker for aarch64 or x86_64, and not for armv7a, but I'm not entirely sure.

[2021-01-29 23:18] dmitriykovalev commented on #12
Interesting, I've taken it directly from my Raspberry Pi board. Can you please verify that you have the same `md5sum` on the file:
[code]
Just in case, make sure to uncompress the attached .zip archive first (the .so is inside it).

[2021-01-29 23:26] Onay commented on #12
Ah, I read your comment too quickly and downloaded the zip file using `wget -O` and renamed it to the .so file without unzipping it first. Please disregard my previous message. I just ran your test again and it works now! Thank you so much for the fix!

[2021-01-29 23:41] dmitriykovalev commented on #12
You are welcome! Thank you very much for discovering this problem. We'll close this issue right after the new wheels become published.

[2021-01-29 23:42] Onay commented on #12
EDIT: While the `_pywrap_coral` appears to have fixed the error, `edgetpu.run_inference` still seems to be blocking when executed in a separate thread. Here's an example program and the output I'm getting:

[code]

When executed on the Raspberry Pi 4B, I get the following output:
[code]

Notice how the call `t.start()` takes roughly the same amount of time (actually more!) to execute as the non-th

[2021-01-30 03:39] dmitriykovalev commented on #12
That's a good point. I've added special handling for the [GIL](https://wiki.python.org/moin/GlobalInterpreterLock) during the `InvokeWithMemBuffer ` call. Please try the updated [_pywrap_coral.cpython-37m-arm-linux-gnueabihf.so](https://github.com/google-coral/pycoral/files/5897303/_pywrap_coral.cpython-37m-arm-linux-gnueabihf.so.zip) binary. On my Pi board your code example prints

[code]

[2021-01-31 02:02] Onay commented on #12
The latest version appears to work! I'm getting the same result as you with the new `_pywrap_coral` binary. Many thanks for the fix!

[2021-02-07 20:20] mitchross opened #14 "Image with 640x480 resolution breaks the Example in Detect_Image.py"
[code]

## Test Data
![bear480](https://user-images.githubusercontent.com/6330506/107158440-ef223600-6957-11eb-94c9-b39bb6681f00.png)

[2021-02-08 14:05] Namburger commented on #14
@mitchross that's odd that it is trying to reshape it to (225, 300, 3) when the model is (300, 300, 3). If the picture you posted the original picture with full size (I see the picture here is only 397x297)? If not, could you attach it here?

[2021-02-08 14:11] mitchross commented on #14
@Namburger I've zipped it up. Lets try that. should be 640x480.
[bear480.zip](https://github.com/google-coral/pycoral/files/5944152/bear480.zip)

[2021-02-09 18:21] mitchross opened #15 "Jetson Nano + Coral USB - RuntimeError: Internal: Unsupported data type in custom op handler: 0Node number 1 (EdgeTpuDelegateForCustomOp) failed to prepare."
[code]

[code]

[2021-02-09 22:35] Namburger commented on #15
@mitchross can you share this output?
[code]

[2021-02-09 22:36] Namburger commented on #14
Thanks for reporting, looks like it is a reproducible bug

[2021-02-09 22:46] mitchross commented on #15
@Namburger

`$ python3 -c 'print(__import__("tflite_runtime").__version__)'
2.1.0.post1
`

[2021-02-09 23:07] Namburger commented on #15
@mitchross that's an older version of tflite_rutime, please upgrade to this one and it should works!
[code]

[2021-02-09 23:10] mitchross commented on #15
@Namburger ```
 pip3 install --extra-index-url https://google-coral.github.io/py-repo/ tflite_runtime
Defaulting to user installation because normal site-packages is not writeable
Looking in indexes: https://pypi.org/simple, https://google-coral.github.io/py-repo/
Requirement already satisfied: tflite_runtime in /home/vanillax/.local/lib/python3.6/site-packages (2.1.0.post1)
Requirement already sa

[2021-02-09 23:19] Namburger commented on #15
Ahh, an issue similar to pi as described here:
https://www.tensorflow.org/lite/guide/python#install_tensorflow_lite_for_python

You can just install it from these released packages, pick the one that matches your platform:
 https://github.com/google-coral/pycoral/releases/

[2021-02-10 00:42] mitchross commented on #15
Working!

[2021-02-10 13:47] Namburger commented on #15
Nice, I've also put in a bug for your other issues, I'll give you update when it's fixed

[2021-02-10 13:47] #15 closed

[2021-02-10 13:55] Elfe opened #16 "error while cloning the repo/submodules"
Hi,

when following the compilation instructions on https://github.com/google-coral/pycoral the first step already fails.
[code]

[2021-02-10 21:54] dmitriykovalev commented on #16
Thank you for reporting this! There was missing commit to `libcoral`. Everything should work now.

[2021-02-10 21:54] #16 closed

[2021-02-10 21:55] dmitriykovalev commented on #12
Closing this issue, we've updated all wheels: https://github.com/google-coral/pycoral/releases/tag/v1.0.1

[2021-02-10 21:55] #12 closed

[2021-02-16 14:00] hackebike opened #17 "Right whl package for Raspberry PI 4 64 bit OS beta, Kernel 5.10"
I tried to install the
pip3 install https://github.com/google-coral/pycoral/releases/download/release-frogfish/tflite_runtime-2.5.0-cp37-cp37m-linux_armv7l.whl

But I am getting an error:
"tflite_runtime-2.5.0-cp37-cp37m-linux_armv7l.whl is not a supported wheel on this platform."

Is there a whl package that I can install my the RPI4 64 bit OS beta?
thx

[2021-02-16 14:05] Namburger commented on #17
@hackebike if it's a 64 bits OS, can you try the aarch64 wheel instead?
https://github.com/google-coral/pycoral/releases/

[2021-02-16 14:21] hackebike commented on #17
I was using a script from and got errors:
https://github.com/EdjeElectronics/TensorFlow-Lite-Object-Detection-on-Android-and-Raspberry-Pi/issues/97

Is this the right whl for Raspberry PI 64 bit OS beta correct?
https://github.com/google-coral/pycoral/releases/download/v1.0.1/pycoral-1.0.1-cp38-cp38-linux_aarch64.whl

I can update the script

[2021-02-16 14:25] hackebike commented on #17
got this:
"pycoral-1.0.1-cp38-cp38-linux_aarch64.whl is not a supported wheel on this platform."

[2021-02-16 14:30] Namburger commented on #17
@hackebike and which python version do you have?
You tried a python3.7 for the 32bits wheel but a python3.8 for the 64bits wheel lol

[2021-02-16 14:33] hackebike commented on #17
I have python3.7 installed and I am on 64 bit.
Sorry I am confused with the naming,
Which is the correct whl file I need to install?

[2021-02-16 14:43] hackebike commented on #17
ok I got installed !

pip3 install https://github.com/google-coral/pycoral/releases/download/v1.0.1/tflite_runtime-2.5.0-cp37-cp37m-linux_aarch64.whl

I was confusing the python naming in the file name! Sorry!
Well at least I can report to the other project the update they need to do for Python3.7 and RPI 64 bit OS
thx

[2021-02-16 21:46] Namburger commented on #17
@hackebike nice!

[2021-02-16 21:46] #17 closed

[2021-02-19 12:23] arun-kumark opened #18 "ImportError: DLL load failed while importing _pywrap_coral: The specified module could not be found."
Hello,

I am trying M.2 card on Mini PCIe bridge with Windows 10 OS.

While trying to test the Google Coral card for the example program, I am facing the folloiwng error:
https://coral.ai/docs/m2/get-started/#requirements

[code]

The device manager is able to detect the device as Google Coral device correctly.
My system comfiguration:
Intel Elkhart Lake
RAM 16GB

I couldn't find the similar or re

[2021-02-24 07:01] Tylersuard opened #19 "Error running face detection demo"
Input:

 edgetpu_detect_server \

Error:
INFO:OpenGL.acceleratesupport:No OpenGL_accelerate module loaded: No module named 'OpenGL_accelerate'
Error: gst-stream-error-quark: Internal data stream error. (1): gstbasesrc.c(3055): gst_base_src_loop (): /GstPipeline:pipeline0/GstV4l2Src:v4l2src0:
streaming stopped, reason not-negotiated (-4)
^CINFO:edgetpuvision.streaming.server:Server is shutting down

[2021-02-24 23:17] Namburger commented on #19
@Tylersuard where are you running this from?

[2021-02-26 00:00] Namburger commented on #18
@arun-kumark this seems like you some how have a missing dll, which I'm not sure why. Could you check what's under this path in your machine?
[code]

[2021-02-26 02:48] Tylersuard commented on #19
I found the problem: my USB camera runs at 20fps, not 24 fps.
I fixed it by changing `YUY2:800x600:24/1`
to `YUY2:800x600:20/1`

[2021-02-26 02:48] #19 closed

[2021-02-28 09:58] vaibhav810 opened #20 "How to record a video in coral dev board using hardware codec ?"
I have coral dev kit and coral camera with me..

I want my inference pipelining running as it as while recording input (raw format is also acceptable ) camera frames in file parallely  .How do i achieve that ? gsteramer pipeline ?

If i use cv2.videowriter , its very bottleneck & low fps

[2021-03-05 23:11] mbrooksx commented on #20
I would use GStreamer overall but unfortunately the iMX8M does not include a hardware video encoder (only a decoder). You could do SW encoding in our GStreamer pipelines by changing the display part of the pipeline (https://github.com/google-coral/examples-camera/blob/master/gstreamer/gstreamer.py#L254) to something that use SW encoding (for example, x264enc ! mp4mux ! filesink location=file.mp4).

[2021-03-12 06:08] manoj7410 commented on #18
@arun-kumark Is this issue still reproducible ?

[2021-03-12 09:38] arun-kumark commented on #18
Hi Manoj,
Unfortunately, I moved from the Widnows OS to Debian. I cannot further check this, so would like to close.
Kind Regards
Arun

[2021-03-12 09:38] #18 closed

[2021-03-25 07:09] SergeyLev opened #22 "ImportError: DLL load failed while importing _pywrap_coral: The specified module could not be found."
Hi!
I'm trying to run test script using Coral USB Accelerator and I get this error:
[code]
OS: Win 10
TF: 2.4.1
Pycoral: 1.0.1

Script:
[code]

[2021-03-29 03:00] dtlam26 opened #23 "Camera: select timeout VIDIOC_DQBUF: Resource temporarily unavailable"
I am trying to access the Coral Board camera as the tutorial.
I have checked whether the cam is accessible or not:

[code]

But when I try the `snapshot` in Coral, it displays nothing. And when trying access through the OpenCV, it yields the error when read the `cap.read()` as `
select timeout
VIDIOC_DQBUF: Resource temporarily unavailable`

Any ideas?

[2021-03-31 14:17] leoniloris opened #24 "No module named 'pycoral.pybind._pywrap_coral' (aarch64, debian bullseye, python 3.9)"
Hello folks!
So, I have the following system
[code]

after some time struggling, I compiled manually and generated the both tflite and pycoral for my board, installed them both and I'm trying to follow https://coral.ai/docs/m2/get-started/#4-run-a-model-on-the-edge-tpu
But I'm facing the following problem
```ModuleNotFoundError: No module named 'pycoral.pybind._pywrap_coral'```

I have no Idea wha

[2021-04-05 14:09] leoniloris commented on #24
Any news?

[2021-04-05 21:03] nandra opened #25 "Bazel version required"
Hi, I'm trying to compile pycoral with bazel 0.21 but it fails with:
[code]

Is newer/older version required? Thanks.

marek

[2021-04-07 06:28] nandra commented on #25
I've tried 3.7.1 and compilation seems to start but it fails due which() command because CC contains ```/```. I think I need to patch bazel files to add new compiler (trying to build with yocto)

[2021-04-14 23:02] paullee2018 commented on #24
I have something similar using python 3.7.

`Traceback (most recent call last):
  File "test_coral.py", line 8, in <module>
    from pycoral.utils import edgetpu
  File "/home/pi/projects/coral/pycoral/pycoral/utils/edgetpu.py", line 24, in <module>
    from pycoral.pybind._pywrap_coral import GetRuntimeVersion as get_runtime_version
ModuleNotFoundError: No module named 'pycoral.pybind'
`

[2021-05-01 00:05] abelhouchat commented on #24
I ran into a similar issue with pycoral. I believe it's because classify_image.py is confusing the pycoral package with the pycoral folder. I was able to resolve it by renaming the pycoral folder to something else.

[2021-05-10 14:04] Naveen-Dodda commented on #24
@abelhouchat May I know on which platform you have this issue. Can you mention how you have installed[ python3-pycoral ?](https://coral.ai/software/#pycoral-api)

[2021-05-10 14:54] abelhouchat commented on #24
@Naveen-Dodda This is on Ubuntu 18.04. I installed pycoral as recommended in the tutorial, using `sudo apt-get install python3-pycoral`

[2021-05-10 18:09] #25 closed

[2021-05-11 07:19] Spanni26 opened #26 "Can't build pycoral, includes not found"
Hello,

I try to build pycoral on opensuse. I cloned the git, but at a "make CPU=k8 build" it failed:
 src/coral_wrapper.cc:15:10: fatal error: numpy/arrayobject.h: No such file or directory
 #```
include <numpy/arrayobject.h>
          ^~~~~~~~~~~~~~~~~~~~~
compilation terminated.
src/main/tools/linux-sandbox-pid1.cc:437: waitpid returned 2
src/main/tools/linux-sandbox-pid1.cc:457: child exited w

[2021-05-12 15:19] ulrichMarco opened #27 "converting TF SavedModel to edgetpu.tflite"
Hi im using a Tensorflow Saved model which works fine
im converting it to .tflite using the following code:
[code]
after that i use the edgetpu_compiler
`edgetpu_compiler model.tflite`
to compile it to model_edgetpu.tflite

then running the detect_images.py results in:

[code]

all models and stuff at
https://drive.google.com/drive/folders/10Htmw0JWZ31Z47hn6mdZYHY7AkjXMus7?usp=sharing

[2021-05-13 22:07] Naveen-Dodda commented on #26
@Spanni26

Not exactly sure how to reproduce this issue on different x86_64 platform. But these are docker builds things should fairly straight forward if you use docker.

Can you follow steps below and see if you still have similar issue.

cd pycoral
make docker-shell
make CPU=k8  (in the docker shell)

[2021-05-13 23:18] Naveen-Dodda commented on #27
Hello,

I am able to reproduce the issue, the problem is the output tensors are fused the right the way.

Are you using TF 2.x to quantise the model. I am not able to quantise with TF2.x in following options.

converter=tf.lite.TFLiteConverter.from_saved_model(saved_model_dir='egdetpu_test/saved_model/')
converter.optimizations = [tf.lite.Optimize.DEFAULT]
converter.target_spec.supported_ops = [tf

[2021-05-13 23:22] Naveen-Dodda commented on #24
Can you try a pip install instead
https://coral.ai/software/#pycoral-api

[2021-05-13 23:28] Naveen-Dodda commented on #3
@Cganzorig

Are you still working on seamese netwrok ?

[2021-05-13 23:28] #14 closed

[2021-05-13 23:30] Naveen-Dodda commented on #22
@SergeyLev

Are you able to solve this issue ?

[2021-05-13 23:33] Naveen-Dodda commented on #23
This seems to be connection issue or problem with cable.
Can you share dmesg

[2021-05-14 09:30] SunBeenMoon opened #28 "Coral Mini Pycoral example error"
Hardware : Google Coral Board Mini
Host Computer : RPI 4

I'm just testing the Coral board.
An error occurred at the beginning part as shown in the picture below.
![image](https://user-images.githubusercontent.com/78002830/118251213-3cc3b700-b4e2-11eb-8c4a-3aa5ff37a2a3.png)

I got the error code
`mendel@undefined-orange:~/coral/pycoral$ python3 examples/classify_image.py \

Traceback (most recent

[2021-05-17 14:18] ulrichMarco commented on #27
@Naveen-Dodda
sorry, i accidently provided the wrong saved model. (the one one generated by exporter_main_v2.py not the one generated by export_tflite_graph_tf2.py)

new zipped files at https://drive.google.com/file/d/1TTDqyeYfGRQPC6zqMQr9dsybxjnFpwPh/view?usp=sharing
-in the models folder, are both saved_model's folder name states the exporter i used to generate
-in the my_ssd_mobilenet_v2_640 fo

[2021-05-18 07:24] manoj7410 commented on #28
Just for the record. This got resolved by reflashing the board.

[2021-05-18 07:27] SunBeenMoon commented on #28
Thanks to reply @manoj7410

I solved this problem with reflashing the board with option -H
bash flash.sh -H

[2021-05-18 07:27] #28 closed

[2021-05-20 06:38] ulrichMarco commented on #27
@Naveen-Dodda
Anything new? Tried multiple ways but doesnt change the error message.

[2021-05-24 17:19] Naveen-Dodda commented on #27
@ulrichMarco

I was able to qunatize, compile and test with pycoral/examples/detect_image.py under these conditions.

TF version == 2.5.0

I used saved_model provided by you edgetpu-test/models/export_tflite_graph_tf2/saved_model. To quantize you need to change the converter setting to following.

converter = tf.lite.TFLiteConverter.from_saved_model("models/export_tflite_graph_tf2/saved_model")
co

[2021-05-25 03:15] #20 closed

[2021-05-25 17:12] #22 closed

[2021-05-26 12:08] Spanni26 commented on #26
Hello,

I can't use docker cause I build on a build server (open build service), which has no connection to the internet.
I downloaded all the dependencies this package needs, so it doesn't claim any missing packages.

There is another error about wrong include path also. I will open another issue about that.

[2021-05-26 16:15] #27 closed

[2021-05-26 22:51] #3 closed

[2021-05-27 07:54] manoj7410 commented on #23
@dtlam26 Has this issue been resolved ?

[2021-05-28 06:17] manoj7410 commented on #26
@Spanni26 Did you try to include /usr/lib64/python3.6/site-packages/numpy/core/include/numpy/ in your PATH environment ?

[2021-05-28 06:19] Spanni26 commented on #26
Which "PATH" do you mean? ISt the a variable for python includes?

Am 28.05.2021 um 08:17 schrieb Manoj:

[2021-05-28 06:27] manoj7410 commented on #26
In your system's PATH environment and in your build's environment.

Although the recommended way to build is still Docker as it will take care of all the deps and includes.

[2021-06-01 12:03] thegreatcheese commented on #13
Hi @patcombe, were you able to resolve this issue?

[2021-06-04 09:20] daniele-salerno commented on #27
Hi @Naveen-Dodda, i tried your solution and i am able to quantize. The problem is that the accuracy falls steeply. I also tried to quantize this model -> http://download.tensorflow.org/models/object_detection/tf2/20200711/ssd_mobilenet_v2_320x320_coco17_tpu-8.tar.gz
and tested with the evaluation set from coco dataset 2017 and the AP still drop.

Could you quantize that model in a better way? If i

[2021-06-07 09:37] ulrichMarco commented on #27
@Naveen-Dodda thanks it works
sry for late reply was on vaccations

[2021-06-09 11:40] Spanni26 commented on #26
I can't use docker cause I'm in an environment without internet access.
"set |grep include" finds nothing, so no include-path is set in my environment.

[2021-06-26 11:04] susmitpy commented on #6
Can you provide the tflite runtime wheel file you have made ?

[2021-06-29 08:57] bomerzz opened #30 "Pycoral with GRPC error"
While utilizing the GRPC python library on a raspberry pi, once the `import grpc` line of code is run, the load delegate function will fail to connect to the USB Coral accelerator.  Can someone please advise what steps I can take?

Thank you.

python3-pycoral version: 1.0.1

Using load delegate:
![image](https://user-images.githubusercontent.com/6870198/123768463-edeba880-d8fa-11eb-8d4e-ddccd39e43

[2021-07-01 04:24] manoj7410 commented on #30
@bomerzz I see that you are working with virtual environment. Is the USB Accelerator visible in your environment.
Can you share the output of 'lsusb' ?

[2021-07-01 17:39] pejotigrek opened #31 "examples fail to run on coral Mini PCIe version - Could not set performance expectation"
my system:

- HP t620 Quad Core
- AMD GX-415GA SOC with Radeon(tm) HD Graphics
- 8GB RAM
- Coral Device: Mini PCIe

[code]

I followed the guide from [coral.ai/docs/m2/get-started](https://coral.ai/docs/m2/get-started/), including the need of blacklisting  prebuilt/preinstalled `apex` and `gasket` to install provided driver and Edge TPU runtime:
[code]

according to driver and module verification

[2021-07-02 04:16] manoj7410 commented on #31
Can you paste the output of:
-modinfo gasket
- modinfo apex
- lsmod | grep apex

[2021-07-04 10:05] pejotigrek commented on #31
here you are:

[code]

I am running the demo straight in the system's shell. no docker involved here.

[2021-07-05 07:48] manoj7410 commented on #31
@pejotigrek You have older Gasket and Apex modules installed on your machine.
Did you follow the instructions given at https://coral.ai/docs/m2/get-started/#2a-on-linux ?

[2021-07-05 11:56] pejotigrek commented on #31
yes, I did followed the instructions - also with the workaround to disable Apex and Gasket by creating the `/etc/modprobe.d/blacklist-apex.conf` file with needed blacklists. then I even tried to do that by the second time [to be sure I did everything ok] and then [on the second time] `sudo apt-get install gasket-dkms libedgetpu1-std` told me that I already have newest drivers.

I can try this one

[2021-07-06 22:19] pejotigrek commented on #31
@manoj7410 all right, I did as I wrote above - all the 6 steps - and seems like it's partially working [looks like the 2nd step was needed to properly install the drivers].

now, the command:

[code]
gives this output:
[code]

shoud I be concerned about the `W :131] Could not set performance expectation : 4 (Inappropriate ioctl for device)` message?

FYI modinfo commands give very similar output..

[2021-07-06 22:31] pejotigrek commented on #31
..well, that was too soon I guess - second try goes back to the errors:

[code]

[2021-07-07 06:55] bomerzz commented on #30
![image](https://user-images.githubusercontent.com/6870198/124713546-43dfd200-df33-11eb-9cb2-a1434330b12f.png)

Hi @manoj7410  above is the lsusb output

[2021-07-07 09:49] manoj7410 commented on #30
@bomerzz lsusb output looks okay. Are you able to run the demo given at : https://coral.ai/docs/accelerator/get-started/#3-run-a-model-on-the-edge-tpu ?

[2021-07-07 10:10] manoj7410 commented on #31
At least,
modinfo gasket should display : version: 1.1.3

modinfo apex should display : version: 1.1

Looks like you still have the older version.

[2021-07-07 10:25] bomerzz commented on #30
Yes i am able to however if i add `import grpc` to the demos it will not run as well

[2021-07-07 10:28] manoj7410 commented on #30
Okay.  Can you paste the detailed error here ?

[2021-07-07 11:41] pejotigrek commented on #31
is there any other way than mentioned here [coral.ai/docs/m2/get-started/#2a-on-linux](https://coral.ai/docs/m2/get-started/#2a-on-linux) and here [coral.ai/docs/m2/get-started/#troubleshooting-on-linux](https://coral.ai/docs/m2/get-started/#troubleshooting-on-linux) to install drivers or force update gasket and apex? I did all the steps mentioned in the official installation guide, and as you saw

[2021-07-11 20:38] gdownes6 opened #32 "No module named 'pycoral.pybind._pywrap_coral' (am64, Windows 10, python 3.7-3.9)"
Hello,

Similar to a previously reported issue (#24) I am having similar failures under:
Windows 10
python 3.7 (have tried 3.8 and 3.9 to cover all bases)
architecture amd64
* Preliminary setup is done - driver, support files, coral and runtimes all installed without issue.
Windows environment variable PATH limit is disabled and environment variables are present  for python (C:\Pyton37; C:\Python3

[2021-07-11 23:33] gdownes6 commented on #32
Just for run, tried Python 3.6 from scratch and obtained the same result.

[2021-07-12 00:07] hjonnala commented on #32
Hi,
As you are using python 3.7 and windows can you confirm you have installed pycoral using PIP3 with the below command:

`pip3 install https://github.com/google-coral/pycoral/releases/download/v1.0.1/pycoral-1.0.1-cp37-cp37m-win_amd64.whl`

Let us know whether you are using USB accelerator or Coral Dev Board?

[2021-07-12 00:20] gdownes6 commented on #32
I did not use the pip3 command, but rather pip.
That command returns "ERROR: pycoral-1.0.1-cp37-cp37m-win_amd64.whl is not a supported wheel on this platform"

The command I used, per the instructions on the coral.ai page was: pip install --index-url https://google-coral.github.io/py-repo/ --extra-index-url=https://pypi.python.org/simple pycoral

I am using the Mini PCIe Accelerator.

[2021-07-12 00:23] gdownes6 commented on #32
pycoral-1.0.1.dist-info and pycoral both appear in my site-packages.

[2021-07-12 00:37] hemanthreddyjonnala commented on #32
What is your default version of python.
That error might be coming because your default version 3.6 and wheel link I have provided is 3.7
Release specific to versions can be found here: https://github.com/google-coral/pycoral/releases

For edgeptu runtime can you confirm you have followed these instructions: https://coral.ai/docs/accelerator/get-started/#runtime-on-windows

can you try to create a

[2021-07-12 01:16] gdownes6 commented on #32
Ok, I've corrected the pip3 syntax for Python 3.6.

I cannot create any virtual environments because this machine doesn't support it (ie. the CPU lacks the feature support).

Pycoral 1.0.1 downloads and installs.

* olefile does not show up.

For edgecpu runtime, yes I can confirm (part of my opening in this thread).

Same problem.

[2021-07-12 01:22] hemanthreddyjonnala commented on #32
Hmm.. can you try uninstalling tflite_runtime and pycoral and installing from wheel packages.
Please refer to this [pycoral_windows.txt](https://github.com/google-coral/pycoral/files/6798045/pycoral_windows.txt) for links specific to python3.6

[2021-07-12 02:13] gdownes6 commented on #32
Attempting to work on it.  Git for Windows destroyed my Windows/Bash capabilities.  The script to run examples refuses to work properly.

[2021-07-12 02:37] gdownes6 commented on #32
Same result, it fails.  My console output is attached.

C:\Projects\coral\pycoral>python examples/classify_image.py --model test_data/mobilenet_v2_1.0_224_inat_bird_quant_edgetpu.tflite --labels test_data/inat_bird_labels.txt --input test_data/parrot.jpg
Traceback (most recent call last):
  File "examples/classify_image.py", line 39, in <module>
    from pycoral.utils.edgetpu import make_interpret

[2021-07-12 03:15] gdownes6 commented on #32
Here is the interesting part, if I launch IDLE from the Windows Start menu and do a few more checks some things stand out.
Path Browser > all paths appear correctly including navigating down into C:\Python36\lib\site-packages\pycoral\pybind (where the problem appears to be.

I can get to C:\Python36\lib\site-packages\pycoral\utils where edgetpu.py is found and the browser will expand edgetpu and s

[2021-07-12 03:38] gdownes6 commented on #32
Finally - I have figured it out.

The error “The specified module could not be found” is a bit misleading on Windows because it means either the DLL you are trying to load or any of its dependencies cannot be located.

Having said that, the Microsoft Visual C++ 2019 redistributable was installed but didn't actually register its payload even though it said it did.  Opening the entry in add-remove p

[2021-07-12 03:38] #32 closed

[2021-07-12 03:40] hjonnala commented on #32
Great, Thanks for sharing fixing information.

[2021-07-12 17:59] hjonnala commented on #24
Hello, does anyone here still facing the issue. If yes, please let me know the python version and operating system have been used.

[2021-07-13 09:04] maazullah96 commented on #24
Solved the issue by installing through the whl file

![Screenshot from 2021-07-13 14-02-59](https://user-images.githubusercontent.com/30190807/125424132-cd4e6ec5-0d26-4091-962f-83f197c533e5.png)

[2021-07-13 15:23] hjonnala commented on #24
@leoniloris are you able to fix the issue.

[2021-07-14 13:59] mprhode commented on #24
I'm still having the issue with Ubuntu 18.04 and python 3.8.8 (apt install -> ModuleNotFound, pip3 install -> https://pypi.org/simple/python3-coral/)

[2021-07-15 13:09] maazullah96 commented on #24
@mprhode  Did you have tried the installation from whl file?

[2021-07-16 10:46] japm48 commented on #24
I had the exact same problem in Windows, and after hours of guessing/debugging I realised that I forgot to install the Edge TPU runtime (step 1 in [the instructions](https://coral.ai/docs/accelerator/get-started)...).
Note that, at least in my case, the "No module named" error is misleading: the pyd module is actually found but it fails to load because it cannot find some DLL/.so dependency (my ca

[2021-07-19 16:31] hjonnala commented on #24
The issue(No module named 'pycoral.pybind._pywrap_coral') can be resolved using the whl files from this source : https://github.com/google-coral/pycoral/releases for python vesrions 3.5 - 3.8.

[2021-07-19 16:31] #24 closed

[2021-07-21 09:43] matthewpetty18 opened #33 "softmax_regression.py model and train_with_sgd data type"
When trying to execute back-propagation does the model need to have int8 input and outputs?

[2021-07-21 09:44] #33 closed

[2021-07-23 12:15] AkkiSony opened #34 "ModuleNotFoundError: No module named 'pycoral.pybind'"
I am new to Coral TPU. I am using this USB accelerator and trying to get the initial demo run and monitor the inference time.
But, I am getting this error. Please let me know if you have any leads?
Thanks in advance guys! :)

![Coral-TPU](https://user-images.githubusercontent.com/85996229/126780217-5bf5b76e-6373-4fc8-8a34-cb5fba189465.PNG)

[2021-07-23 12:40] hjonnala commented on #34
Hi, Let me know your python version.
please uninstall tflite_runtime and pycoral install it from this whl files: https://github.com/google-coral/pycoral/releases

[2021-07-25 05:33] robmarkcole opened #35 "ImportError: _pywrap_coral.cpython-38-darwin.so not found"
Platform:
[code]
Python 3.8.5. with venv using `python3 -m venv venv` and installation using `python3 -m pip install --index-url https://google-coral.github.io/py-repo/ --extra-index-url=https://pypi.python.org/simple pycoral`

On running `from pycoral.utils import edgetpu` and having the usb accelerator plugged into USB, I receive:
[code]

[2021-07-25 11:52] hjonnala commented on #35
Hi, please try uninstall tflite_runtime and pycoral and install from these whl files using python:
https://github.com/google-coral/pycoral/releases

Here the links commands for python3.8 and Mac
[code]

Thanks

[2021-07-26 06:51] AkkiSony commented on #34
Hi @hjonnala,
My current python version is 3.6.9.

I am just unsure which .whl file, I have to install. As I am using a virtual machine (linux) on host(windows), I am sure that I have to use linux_x86-64. However, I am not sure about cp35, cp36. Can you please elaborate to me what does this indicate? Thank you for responding! :)

[2021-07-26 07:09] manoj7410 commented on #34
cp35 means that it is compatible with Python3.5 and cp36 means that it is compatible with Python3.6.

[2021-07-26 07:14] robmarkcole commented on #35
@hjonnala having followed your instructions I receive:

[code]

[2021-07-26 07:20] AkkiSony commented on #34
Thank you for the clarity! :) @manoj7410

![coral-TPU-error1](https://user-images.githubusercontent.com/85996229/126948381-bde2a307-d6d7-49d6-a708-97d70ba5162c.PNG)

I installed pycoral and tflite_runtime as per your suggestion. Since I have python version 3.6, I installed the corresponding cp36.

Now, I am getting the following error when I run the demo as shown on the coral page. Please let me k

[2021-07-26 07:35] manoj7410 commented on #34
@AkkiSony Are you able to see the USB Accelerator in the output of the command:
- lsusb

[2021-07-26 07:39] AkkiSony commented on #34
I cannot find it! :/

However, I can see it on the  settings -> USB. Do you have any suggestions?

![coral-TPU-error2](https://user-images.githubusercontent.com/85996229/126951133-c9a5bb5f-0ef0-4c3f-a2b1-6b5380b81b8d.PNG)

[2021-07-26 07:43] AkkiSony commented on #34
![coral-TPU-error3](https://user-images.githubusercontent.com/85996229/126951600-923c2d17-2b76-4be1-b1d0-f327a96a6483.PNG)

That's my output! Is it also called Google Inc ?

[2021-07-26 07:48] AkkiSony commented on #34
I could find Gloabal UniChip after unplugging and plugging the USB device again.
However, I still have the "ValueError: Failed to load delegate from libedgetpu.so.1" error.

Please find the attached screenshot.
![coral-TPU-error4](https://user-images.githubusercontent.com/85996229/126952437-da2be86d-7615-477f-be7e-f648705763bf.PNG)

[2021-07-26 07:57] AkkiSony commented on #34
One thing that I noticed is that when I execute the classify_image.py, I can visualize the Global UniChip for few seconds, and after sometime it dissapears! :/
After I get this Value error, when I do
- lsusb
I cannot find the device! :/

Do you have any suggestions?

[2021-07-26 08:14] manoj7410 commented on #34
So this is how the USB Accelerator works, while connecting the device with your host PC, the Vendor name will appear as : Global Chip Inc. but once you run the first inference, the Vendor name will change to 'Google Inc'.
VM is not officially supported by Coral because of various challenges related to IO operations and restrictions.

[2021-07-26 09:04] AkkiSony commented on #34
Sometimes it works. But it says "Aborted (core dumped)". Can you please let me know why? This is an example code as I said before.
![coral-TPU-error5](https://user-images.githubusercontent.com/85996229/126963425-4a38c569-08e7-403a-aed2-48ae28760478.PNG)

[2021-07-26 09:23] AkkiSony commented on #34
Hi,
As VM is not supported, I decided to shift to Windows(host) installation. During the initial steps of installation.
https://coral.ai/docs/accelerator/get-started/#runtime-on-windows
When I run the .bat file, a command prompt opens and closes every second. This cycle keeps going on. Can you please tell me why am I facing this strange issue?

[2021-07-26 09:29] manoj7410 commented on #34
@AkkiSony Do you see any error too? I haven't seen this behavior yet.

[2021-07-26 09:35] AkkiSony commented on #34
I do not see any error. The cmd prompt opens and closes within one second. And this keep going on until I close the window. It just keeps flashing in and out! :/

[2021-07-26 10:30] manoj7410 commented on #34
@hjonnala Do you have a Windows machine available with you? If yes, then can you please try to execute the instructions given at: https://coral.ai/docs/accelerator/get-started/#runtime-on-windows ?

[2021-07-26 11:24] AkkiSony commented on #34
Hi,
I am following the instructions as per the website. I installed Visual Studio C++ 2019 Redistributable. Later, I also unzipped the file and now when I try to install using the batch file, I get this problem of continous flashing of command prompt. I have no idea about the reason for this! :/

[2021-07-26 11:39] AkkiSony commented on #34
Hi, Sorry it was organisational issue. After I clicked on the .bat file, it required me to enter the admin right. After entering the admin rights, things worked fine. Now I am able to install them! :)

[2021-07-26 12:27] #34 closed

[2021-07-26 12:38] AkkiSony commented on #34
Just a small question with the istallaton procedure for windows system.
Should this be done in an Anaconda platform? If not, then should we create a virtual enviroment and then install the packages like tensorflow_lite and pycoral?

[2021-07-26 13:23] hjonnala commented on #34
It should be fine in an Anaconda platform too. Let us know if you are facing any issues.

[2021-07-26 13:29] AkkiSony commented on #34
I am facing this issue when I execute "bash examples/install_requirements.sh classify_image.py"
![coral-TPU-error6](https://user-images.githubusercontent.com/85996229/126996916-98714e8e-d4ba-46b8-8036-83c6314f173e.PNG)

[2021-07-26 13:36] hjonnala commented on #34
please install git bash and try to run those commands.

For instructions please refer to: https://coral.ai/docs/dev-board/get-started/#other-windows-requirements

[2021-07-26 13:51] AkkiSony commented on #34
Thanks for the answer. That helped me. But since I have to execute these commands on git bash, why do I require Anaconda?

- How do I create a virtual environment to install the dependencies and libraries?

Please find the output of the command below. Still the test_data directory remain empty! :(

_**$ bash examples/install_requirements.sh examples/classify_image.py
Usage:
  install_requirements.

[2021-07-26 13:59] AkkiSony commented on #34
$ bash examples/install_requirements.sh classify_image.py
NOT FOUND: mobilenet_v2_1.0_224_inat_bird_quant_edgetpu.tflite
NOT FOUND: mobilenet_v2_1.0_224_inat_bird_quant.tflite
NOT FOUND: inat_bird_labels.txt
NOT FOUND: parrot.jpg

[2021-07-26 14:20] hemanthreddyjonnala commented on #34
I am not sure why the files are not getting downloaded.

Script trying to download files form this link, can you check if this link working or not on your Machine:
https://github.com/google-coral/test_data/raw/master/mobilenet_v2_1.0_224_inat_bird_quant_edgetpu.tflite

![bash_examples](https://user-images.githubusercontent.com/31050644/127002522-59fddefc-32ee-4aed-ac68-8b2732f293f6.PNG)

[2021-07-26 14:24] AkkiSony commented on #34
The link works fine. It downloaded the model as soon as I clicked it!
But why is it not possible through the script?
Do I have to install pycoral and edgetpu only from.whl files?

[2021-07-26 14:40] hemanthreddyjonnala commented on #34
Please install edgetpu runtime from zip file (https://coral.ai/docs/accelerator/get-started#runtime-on-windows)

tflite_runtime and pycoral from .whl files

can you try these two commands on bash terminal.

curl -Lso /dev/null -w "%{http_code}" "https://github.com/google-coral/test_data/raw/master/mobilenet_v2_1.0_224_inat_bird_quant_edgetpu.tflite"

curl -OL "https://github.com/google-coral/test_

[2021-07-26 14:47] AkkiSony commented on #34
The two commands on bash terminal gave me the output as follows.

![coral-TPU-error-7](https://user-images.githubusercontent.com/85996229/127009084-d42feb56-9c18-431a-aeee-22b7271dc0ab.PNG)

[2021-07-26 14:49] hjonnala commented on #34
the first should give 200 response. Please check with your organization team why the connection is refused.

[2021-07-26 15:35] AkkiSony commented on #34
Please find the below screenshot. When I execute that command, neither am I getting output nor any error. :/
![coral-TPU-error-8](https://user-images.githubusercontent.com/85996229/127016953-b26bf2b2-8e07-4856-903d-505ce557d945.PNG)

[2021-07-26 15:37] AkkiSony commented on #34
**tflite_runtime and pycoral from .whl files**

For this, do we have to create a virtual environment and then install? I am sorry, I have not worked much on windows side.

[2021-07-26 17:18] hjonnala commented on #34
virtual environment or without virtual environment both would work..

[2021-07-26 17:38] hjonnala commented on #34
can you try these two commands:

python3 examples/classify_image.py --model test_data/mobilenet_v2_1.0_224_inat_bird_quant_edgetpu.tflite --labels test_data/inat_bird_labels.txt --input test_data/parrot.jpg

py examples/classify_image.py --model test_data/mobilenet_v2_1.0_224_inat_bird_quant_edgetpu.tflite --labels test_data/inat_bird_labels.txt --input test_data/parrot.jpg

[2021-07-27 00:28] hjonnala commented on #35
@ robmarkcole. I am not able to reproduce the error. Can you please share entire error details from which line the error is coming.

[code]

[2021-07-27 07:43] AkkiSony commented on #34
@hjonnala Can you please give me a short description, how do you install using whl files on windows side?

[2021-07-27 07:55] AkkiSony commented on #34
@hjonnala Thank you for your reply!

Can you please give me a short description how to install .whl files on windows side. I am confused because, on Anaconda platform we can create virtual environment and then instal using pip command. But on Git bash, since there is no pip installed, how do we do it? Can you please guide me with a short description?

[2021-07-27 12:58] hemanthreddyjonnala commented on #34
For pip installations  You can use anaconda platform as you described above.

On bash run pip install command with python executable.
sample command: c:\\pyhton36\\python.exe -m pip install numpy

[2021-07-27 14:31] hjonnala commented on #35
we have new release. Please try to create new virtual env and install using python3 -m pip install --index-url https://google-coral.github.io/py-repo/ --extra-index-url=https://pypi.python.org/simple pycoral.

And let us know if you are still facing any issues.

[code]

[2021-07-27 16:11] AkkiSony commented on #34
Thank you for your input. It really helped to. I added the path of Python and Pip to my PATH variable.

But  when I try to install the .whl files, I am getting these error.
![coral-TPU-error-9](https://user-images.githubusercontent.com/85996229/127189191-0f442742-d5c6-47be-864f-fc420367f77c.PNG)

[2021-07-27 16:18] hjonnala commented on #34
You are trying install linux versions.

we have new releases.
Please install

edgetpu runtime form this (https://github.com/google-coral/libedgetpu/releases/download/release-grouper/edgetpu_runtime_20210726.zip)
and tflite runtime and pycoral from below:
if your python version is 3.6 for windows:
[code]

[2021-07-28 07:14] robmarkcole commented on #35
Following exactly your steps:

[code]

I notice you are on Python 3.8.2 whilst I am on Python 3.8.5

[2021-07-28 12:38] hjonnala commented on #35
we can see it is using cache to install the libraries. Can you try create virtual env with different name. You should be getting pycoral2.0.0.

[2021-07-28 23:48] dmitriykovalev commented on #6
We have `Python 3.9` wheels now, please check [releases](https://github.com/google-coral/pycoral/releases) page.

[2021-07-28 23:48] #6 closed

[2021-07-29 05:30] HanChangHun opened #36 "Error at PipelinedModelRunner with detection models."
I divided the detection models(efficientdet, ssd_mobilenet, ...) into 4 segments with edgetpu_compiler v16 and pop in the pipeline.
However, the following error occurred:

[code]

The model above is efficientdet_lite3x, and similar errors occur in ssd_mobilenet_v2(both tf1 and tf2) models.

[code]

These errors did not appear in the classification model.

Is pipelining not possible in the detectio

[2021-07-29 11:11] AkkiSony commented on #34
Thank you for making me notice that I was installing the linux version. I am sorry for that! :)

Whe I try to run the example, I am getting the below error. Please can you guide me for the same? :) I thank you in advance for your time!
![coral-TPU-error-10](https://user-images.githubusercontent.com/85996229/127482274-a06451eb-c939-4c46-a5a1-dc55cf1b8907.PNG)

[2021-07-29 12:06] hjonnala commented on #34
Hi, which python version version you are using?

I think it's due to pillow version. can you try this

pip uninstall pillow
pip install Pillow==8.3.1

[2021-07-29 12:12] AkkiSony commented on #34
Hello @hjonnala ,
$ python --version
Python 3.8.8

I uninstalled Pillow version 8.2.
While installing Pillow==8.3.1, I am getting an error

![coral-TPU-error-11](https://user-images.githubusercontent.com/85996229/127489561-fb644d0c-cd6a-4d80-ad49-6eff0a3faed0.PNG)

[2021-07-29 12:18] hjonnala commented on #34
can you create new virtual environment and try this command.

python3 -m pip install --index-url https://google-coral.github.io/py-repo/ --extra-index-url=https://pypi.python.org/simple pycoral

if python3 not working try:
py -m pip install --index-url https://google-coral.github.io/py-repo/ --extra-index-url=https://pypi.python.org/simple pycoral

[2021-07-29 12:33] AkkiSony commented on #34
I activated the default virtual environment "base".
After executing the above command, I am getting the same error as above.

I even tried to add them to trusted hosts.
python -m pip install --trusted-host pypi.python.org --trusted-host files.pythonhosted.org --trusted-host pypi.org --upgrade pip

Yet the same error as the image attached in the previous thread! :(

[2021-07-29 12:44] hjonnala commented on #34
Instead of base can you please create new virtual environment and paste the entire output of
python3 -m pip install --index-url https://google-coral.github.io/py-repo/ --extra-index-url=https://pypi.python.org/simple pycoral

[2021-07-30 05:09] robmarkcole commented on #35
@hjonnala even creating a fresh venv with a new name, I encounter the issue as it appears its not getting pycoral2.0.0. Tried adding `--upgrade` but still pulls 1.0.1

[code]

[2021-07-30 10:51] dmitriykovalev commented on #35
@robmarkcole Looks like you are missing `libedgetpu` shared library according to the error message: `2): Library not loaded: @rpath/libedgetpu.1.dylib`. Have you installed `libedgetpu` from the [runtime zip archive](https://github.com/google-coral/libedgetpu/releases)?

[2021-07-30 22:19] AkkiSony commented on #34
I tried these commands after creating a new virtual environment using conda platform, yet I have these errors.

I even added proxy by using
set http_proxy=.....
set https_proxy=....

![coral-TPU-error-12](https://user-images.githubusercontent.com/85996229/127717085-64a381ff-df9a-46c9-a73d-d1eb5d833992.PNG)

[2021-07-30 23:05] AkkiSony commented on #34
I solved the above error by adding an extra command. Hope it helps someone with the same error. :)

 pip install pycoral-1.0.1-cp38-cp38-win_amd64.whl -i http://pypi.douban.com/simple- -trusted-host pypi.douban.com

[2021-07-31 05:56] robmarkcole commented on #35
@dmitriykovalev thanks for the pointer. However I hit various issues and am unable to install

[code]

[2021-07-31 09:33] dmitriykovalev commented on #35
@robmarkcole Looks like there is an error while installing `libusb` using Homebrew. You probably need to [install](https://stackoverflow.com/questions/9329243/how-to-install-xcode-command-line-tools) the latest version of Xcode Command Line Tools and then try again. `Libusb` is a dependency for `libedgetpu`, so it should be installed anyway.

[2021-08-01 07:29] robmarkcole commented on #35
@dmitriykovalev I am currently wiping and reinstalling my command line tools after the following, lets see if this resolves it. However all indications are that my tools are already up to date

[code]

[2021-08-02 05:27] devdastl opened #37 "High inference time after full integer post-training quantization compared to normal unquantized tflite model"
Hello everyone,

I am trying to perform full integer quantization on a pretrained model (ssd_mobilenet_v2_fpnlite_320x320_coco17_tpu-8/saved_model). I have followed this [issue](https://github.com/google-coral/pycoral/issues/27) and was able to generate Google-Coral supported tflite model. Below is my python script which I used to perform quantization -
[code]
But I am getting inference time in ra

[2021-08-02 08:50] manoj7410 commented on #37
@devdastl Did you also compile the model with edgetpu compiler ?
And on which device are you trying to run this model ?

[2021-08-02 08:57] AkkiSony commented on #34
I now getting segmentation fault as the output for both the statements. Can you help me solve the issue please?
![coral-TPU-error-13](https://user-images.githubusercontent.com/85996229/127833740-0d9c892a-89a9-4b00-ade5-09db5278cf97.PNG)

[2021-08-02 10:05] devdastl commented on #37
Hello @manoj7410,

Thanks for your replay, I have compiled my model using edgetpu_comiler and I am running this model on Google-Coral USB-accelerator. https://coral.ai/products/accelerator/
Below I have tried to show my work-flow:
`pretrained model  ----> saved_model using export_tflite_tf2 -----> quantization using python script ----> compiled for edgetpu using edgetpu_compiler ------> inferencin

[2021-08-02 15:00] hjonnala commented on #37
Hi, can you please share the ssd_mobilenet_v2_fpnlite_320x320_coco17_tpu-8/saved_model folder that you are using?

[2021-08-03 04:57] devdastl commented on #37
Hello @hjonnala,
Please find attachment of model tar file. Let me know if anything else is required from my side.
[ssd_mobilenet_v2_fpnlite_320x320_coco17_tpu-8.tar.gz](https://github.com/google-coral/pycoral/files/6921128/ssd_mobilenet_v2_fpnlite_320x320_coco17_tpu-8.tar.gz)

Thanks

[2021-08-03 12:01] mzignis opened #38 "Unable to cast Python instance to C++ type"
Hi, I'm trying to check dma-buffer and use it to run my model (on google coral dev board), but when I try call a few functions from pycoral.utils.edgetpu, pybind return error:

Traceback (most recent call last):
    File "<stdin>", line 1, in <module>
RuntimeError: Unable to cast Python instance to C++ type (compile in debug mode for details)

My code:
`
import pycoral.utils.edgetpu as edgetpu
int

[2021-08-03 16:43] dmitriykovalev commented on #35
@robmarkcole That's interesting. Please copy the output from the following commands:
[code]
and
[code]

[2021-08-04 04:35] robmarkcole commented on #35
@dmitriykovalev
[code]

[2021-08-04 07:39] dmitriykovalev commented on #35
@robmarkcole Everything seems to be correct so far. Do you have Coral USB Accelerator properly connected to the Mac? Can you see it in the output of `ioreg -p IOUSB -w0 -l`?

Just in case, can you also try to run the python script with `sudo`, will it make any difference?

[2021-08-04 07:56] dmitriykovalev commented on #35
@robmarkcole It's interesting that you have `libusb` installed at `/usr/local/lib/libusb-1.0.0.dylib` according to `otool` output. Homebrew installs it to a different location: `$(brew --prefix libusb)/lib` which is `/usr/local/opt/libusb/lib` on your Mac.

[2021-08-04 08:01] robmarkcole commented on #35
Could be the device is not found as I am using an adapter?

![image](https://user-images.githubusercontent.com/11855322/128144414-ae2bb4fc-606d-4452-9cc7-05ebceeb0de2.png)

The output:
[code]

[2021-08-04 08:24] dmitriykovalev commented on #35
Looks like there is an issue with your USB hub. I don't see Coral device in your output. The accelerator has `"idVendor" = 6766`. That's what I have on my Mac:
[code]
You can also do `brew install usbutils` and run `lsusb` to have nicer output. On my Mac I see this line:
[code]
Notice that 0x1a6e (hex) equals to 6766 (dec).

Or you can run `System Information` util and see graphical output:
<img w

[2021-08-04 10:49] asylunatic opened #39 "Cannot run 'Getting started examples' for USB Accelerator on Windows 10: "ValueError: Failed to load delegate from edgetpu.dll""
On two different Windows 10 machines I run into the same problem when trying to run the pycoral example for the USB Accelerator. In both cases, I followed the steps from _https://coral.ai/docs/accelerator/get-started/_ . When trying to run classify_image.py, the script crashes when calling `make_interpreter`:

[code]
On both machines, it the first time I did the installation, so I am pretty sure i

[2021-08-04 10:53] manoj7410 commented on #39
@asylunatic Do you see any LED glowing on the USB Accelerator ?

[2021-08-04 10:56] asylunatic commented on #39
@manoj7410 yes! it is also listed in the device manager under USB devices, and I've added the path to edgetpu.dll to the environment variables to be sure

[2021-08-04 12:55] hjonnala commented on #39
@asylunatic could you please try with edgetpu_runtime_20210119.zip from this page https://coral.ai/software/#edgetpu-runtime

[2021-08-04 14:25] hjonnala commented on #37
@devdastl I am unable to generate tflite with model tar file. Could you please share uncompiled tflite model.
[37_pycoral.ipynb.tar.gz](https://github.com/google-coral/pycoral/files/6931962/37_pycoral.ipynb.tar.gz)

[2021-08-04 15:07] hjonnala commented on #38
Hi, can you please try the code snippet below

[code]

[2021-08-04 16:07] SergioPN opened #40 "Coral TPU can't run a model from GCP AutoML Object Detection after being compiled with the latest version of the compiler"
Hi, I have trained several models in the past using the GCP Object Detection AutoML for Edge (Now called Vertex AI). I usually compiled those models with edgetpu_compiler version 14.1 since the version 15 won't work on them.
Since the beginning of august I can't compile the models that I train as I normally do on  Vertex AI. I have tried the last version of the compiler version 16 which allows me

[2021-08-04 19:01] Lennyz1988 commented on #39
I'm having the same issue but on an aarch64 system. I just updated everything to the latest versions.

pycoral             2.0.0
tflite-runtime      2.5.0.post1

I tried these trained models:
tf2_ssd_mobilenet_v2_coco17_ptq_edgetpu.tflite
mobilenet_ssd_v2_coco_quant_postprocess_edgetpu.tflite (was working fine before the update)

Traceback (most recent call last):
  File "/home/lennyz1988/.local/l

[2021-08-04 19:06] hjonnala commented on #39
@Lennyz1988 can you paste the output of command `lsusb`

[2021-08-04 19:09] Lennyz1988 commented on #39
@hjonnala
Bus 008 Device 002: ID 2109:0817 VIA Labs, Inc.
Bus 008 Device 001: ID 1d6b:0003 Linux Foundation 3.0 root hub
Bus 007 Device 002: ID 2109:2817 VIA Labs, Inc.
Bus 007 Device 001: ID 1d6b:0002 Linux Foundation 2.0 root hub
Bus 006 Device 001: ID 1d6b:0003 Linux Foundation 3.0 root hub
Bus 005 Device 001: ID 1d6b:0002 Linux Foundation 2.0 root hub
Bus 004 Device 001: ID 1d6b:0001 Linux Fou

[2021-08-04 19:12] hjonnala commented on #39
@Lennyz1988 I assume you are using USB accelerator. If its connected you should see  Global Unichip Corp. or Google in ouput

[code]

[2021-08-04 22:25] hjonnala commented on #40
Yes, the most of the model is mapped to CPU. As of now we don't have any work around solution for this and we will let you know if AUTO ML team is able to fix this.

[2021-08-05 00:26] ATLTVHEAD opened #41 "Coral Ejects at Runtime"
Installed edgetpu_runtime_20210726 for windows running the latest C++ distribution of Visual Studio

I am running through the demo on the getting started page, currently on the python execution of the parrot classification.

Every time I try to execute the python script, the Google Coral "ejects" from the my pc and the terminal brings up a fresh line as though it finished properly. No output from

[2021-08-05 05:02] manoj7410 commented on #41
@ATLTVHEAD Which Coral device are you working with ?
And are you working on a VM or on a native installation ?

[2021-08-05 08:02] robmarkcole commented on #35
I also get
[code]

[2021-08-05 08:27] dmitriykovalev commented on #35
I see, device is properly connected then. Please run this command and copy the output:
[code]

[2021-08-05 08:37] robmarkcole commented on #35
[code]

[2021-08-05 08:38] SergioPN commented on #40
Thanks for the quick response @hjonnala.  Hopefully its fast.

[2021-08-05 11:04] dmitriykovalev commented on #35
Looks like everything is connected properly and should be working fine, it's weird that it doesn't.

Is there a chance you can try connecting USB accelerator directly to the laptop without any hubs? There are usually two ways of doing this:

- USB-C to USB-C cable
- USB to USB-C adapter

It could also be useful to try a different USB hub if possible.

[2021-08-05 12:47] ATLTVHEAD commented on #41
Using the USB Accelerator model and installing directly on a Windows 10 machine.

[2021-08-05 13:13] hjonnala commented on #41
please try with edgetpu_runtime_20210119.zip from this page https://coral.ai/software/#edgetpu-runtime

[2021-08-05 20:16] truncs opened #42 "Dual edge TPU hangs when running detect_image.py"
classify_image.py runs well and the temprature seems to be stable. But when I run detect_image.py the temprature goes negative and the device is throttled with HIB errors. Please see below for logs
[code]

[code]

[code]

[code]

[code]

[2021-08-06 08:41] AkkiSony commented on #41
@hjonnala
$ python examples/classify_image.py -m test_data/mobilenet_v2_1.0_224_inat_bird_quant_edgetpu.tflite -l test_data/inat_bird_labels.txt -i test_data/parrot.jpg
Traceback (most recent call last):
  File "C:\Users\AkshayaC\Anaconda3\envs\coral_env\lib\site-packages\tflite_runtime\interpreter.py", line 160, in load_delegate
    delegate = Delegate(library, options)
  File "C:\Users\AkshayaC\

[2021-08-06 08:45] AkkiSony commented on #39
$ python examples/classify_image.py -m test_data/mobilenet_v2_1.0_224_inat_bird_quant_edgetpu.tflite -l test_data/inat_bird_labels.txt -i test_data/parrot.jpg
Traceback (most recent call last):
  File "C:\Users\asdf\Anaconda3\envs\coral_env\lib\site-packages\tflite_runtime\interpreter.py", line 160, in load_delegate
    delegate = Delegate(library, options)
  File "C:\Users\asdf\Anaconda3\envs\cor

[2021-08-06 12:46] hjonnala commented on #39
@AkkiSony can you paste the output of following command.

`python3 -c 'from pycoral.utils.edgetpu import get_runtime_version; print(get_runtime_version())'`

Please check if you have edgetpu.dll in this path C:\Windows\System32?
Please consider trying on personal laptop, that would help you to resolve the issues with organization laptop.

[2021-08-06 15:50] hjonnala commented on #36
Hi, pipe lining is possible with detection models. You might have to change the post processing of results.

[2021-08-07 01:35] HanChangHun commented on #36
In fact, I can't understand that the shape of the result in ssd_mobilenet_v2 is (320,).

Do I have to re-create the model from the beginning to pipeline the detection model? Is it not possible to segment and use the
 edgetpu compiled model on [this site](https://coral.ai/models/object-detection/)?

Or, may I know how to change the post-processing of results?

[2021-08-07 13:17] ATLTVHEAD commented on #41
With Runtime 20210119, the usb accelerator now disconnects and connects a number of times, but gives me inferencing output and results so everything seems to be running! Thank you!

[2021-08-07 13:17] #41 closed

[2021-08-08 03:35] robmarkcole commented on #35
Alright, using the USB-C to USB-C cable the inference runs without issue! Closing this issue and purchasing extra cables :-)

[2021-08-08 03:35] #35 closed

[2021-08-08 19:00] hjonnala commented on #36
Please refer to this [detect_image.py](https://github.com/google-coral/pycoral/blob/master/examples/detect_image.py#L87) for getting the outputs and post processing of results for detection models.

[2021-08-09 06:04] HanChangHun commented on #36
Oh, I didn't have to call pop().

I solve errors like below.

[code]

But, for the correct bounding box location, I have to modify the function detect.get_objects(). Because It scales based on the interpreter that received as a parameter.

In addition, an exception occurs at __del__() in pycoral/pipeline/pipeline_model_runner.py, which is fine to ignore.
[code]

I need a little more modification,

[2021-08-09 07:03] AkkiSony commented on #39
python -c 'from pycoral.utils.edgetpu import get_runtime_version; print(get_runtime_version())'
BuildLabel(COMPILER=MSVC 192628805,DATE=Nov  4 2020,TIME=11:06:09), RuntimeVersion(13)
(coral_env)

![coral-TPU-error-15](https://user-images.githubusercontent.com/85996229/128670270-24b5d094-4102-4b59-bd47-f44c96c09b6c.PNG)

[2021-08-09 08:13] AkkiSony commented on #39
It's strange that I am getting this output now.

python -c 'from pycoral.utils.edgetpu import get_runtime_version; print(get_runtime_version())'
Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "C:\Users\asdf\Coral-USB\coral1\pycoral\pycoral\utils\edgetpu.py", line 24, in <module>
    from pycoral.pybind._pywrap_coral import GetRuntimeVersion as get_runtime_version

[2021-08-09 08:55] dmitriykovalev commented on #35
@robmarkcole I'm glad it works now! According to my experience, USB cable/power issues are the hardest to debug.

[2021-08-09 12:38] hjonnala commented on #39
@AkkiSony pycoral modules are fetching from this path C:\Users\asdf\Coral-USB\coral1\pycoral\pycoral\utils\edgetpu.py.. But they need to come from coral_env/lib/site-packages/pycoral..

[2021-08-09 12:42] AkkiSony commented on #39
@hjonnala Do you have any idea what modification should I do?

[2021-08-09 12:43] hjonnala commented on #39
@AkkiSony you can try renaming pycoral to pycoral1 or something else in coral1 directory..

[2021-08-09 13:19] hjonnala commented on #36
You still can use same push and pop if you want to invoke multiple times..

But for now, try passing runner.interpreters()[0]
In this line https://github.com/google-coral/pycoral/blob/master/pycoral/adapters/detect.py#L225

[2021-08-09 13:26] AkkiSony commented on #39
It dint work even after renaming! :/

[2021-08-09 13:32] hjonnala commented on #39
@AkkiSony please paste the error you are getting after renaming.

[2021-08-09 13:46] AkkiSony commented on #39
$ python -c 'from pycoral.utils.edgetpu import get_runtime_version; print(get_runtime_version())'
Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "C:\Users\AkshayaC\Coral-USB\coral1\pycoral1\pycoral\utils\edgetpu.py", line 24, in <module>
    from pycoral.pybind._pywrap_coral import GetRuntimeVersion as get_runtime_version
ModuleNotFoundError: No module named 'pyco

[2021-08-09 13:48] hjonnala commented on #39
@AkkiSony please change pycoral name also inside pycoral1 directory

[2021-08-09 14:19] AkkiSony commented on #39
After renaming it, I got the following output.

BuildLabel(COMPILER=MSVC 192628805,DATE=Nov  4 2020,TIME=11:06:09), RuntimeVersion(13)
----------------------------------------------------------------------------------------------------------
When I run the example code, I get the following error.
 File "C:\Users\AkshayaC\Anaconda3\envs\coral_env\lib\site-packages\tflite_runtime\interpreter.py", li

[2021-08-09 14:29] hjonnala commented on #39
@AkkiSony It should be working fine with runtime version 13. Please make sure USB accelerator connected to the machine.

[2021-08-09 14:37] AkkiSony commented on #39
Thanks. I am getting this error when the USB accelerator is connected.

[2021-08-10 09:18] asylunatic commented on #39
@hjonnala I uninstalled the latest version and installed edgetpu_runtime_20210119.zip as you recommended and it runs now! Thanks

[2021-08-10 09:18] asylunatic commented on #39
@hjonnala I uninstalled the latest version and installed edgetpu_runtime_20210119.zip as you recommended and it runs now! Thanks

[2021-08-10 11:05] mzignis commented on #38
Sorry for response, its return True right now but I still have problem to run `invoke_with_dmabuffer`.
I use GstAllocator to allocate memory in DMA but my code crash on `invoke...`

[code]

[2021-08-10 14:01] #39 closed

[2021-08-10 17:39] hjonnala commented on #40
Unfortunately, coral team no longer supporting AutoML models.

[2021-08-11 15:31] hjonnala commented on #38
Have you checked map_buffer true of false. I think it needs to False to invoke_with_dambuufer.
https://github.com/google-coral/pycoral/blob/master/pycoral/utils/edgetpu.py#L189
`interpreter_handle = interpreter._native_handle()

map_buffer = not GstAllocators.is_dmabuf_memory(memory) or not edgetpu.supports_dmabuf(interpreter_handle)
print('map_buffer', map_buffer )`

[2021-08-12 08:05] ykhorzon opened #43 "Runtime error at pipeline runner"
I followed the pipeline example [model_pipelining_classify_image.py](https://github.com/google-coral/pycoral/blob/master/examples/model_pipelining_classify_image.py)  but it has runtime error

My environment is pycoral-2.0.0-cp38-cp38-linux_x86_64 and tflite_runtime-2.5.0.post1-cp38-cp38-linux_x86_64

`python3 examples/model_pipelining_classify_image.py   --models     test_data/pipeline/inception_

[2021-08-12 09:51] ykhorzon commented on #43
I found that the error not is trigger by  consumer_thread.join(). It is from `def main()` leading to runner destruction due to runner as local variable.

[2021-08-15 00:49] VelizarVESSELINOV opened #44 "Library not loaded: /opt/local/lib/libusb-1.0.0.dylib"
# Error
[code]
# Install
Following the instructions: https://coral.ai/docs/accelerator/get-started
[code]

#  libusb 1.0.24 already installed
[code]

[2021-08-15 02:56] hjonnala commented on #44
Hi, Have you installed edgetpu runtime https://coral.ai/docs/accelerator/get-started#runtime-on-mac.

can you please paste the output of below commnad:

`python3 -c 'from pycoral.utils.edgetpu import get_runtime_version; print(get_runtime_version())'`

[2021-08-16 13:48] #40 closed

[2021-08-20 20:12] hjonnala commented on #38
Hi @mzignis are you still having issue?

[2021-08-22 18:37] mzignis commented on #38
Hi, yes I was trying few other things with dma buffer but still there is the same issue. Do you have any idea what can case that?

[2021-08-24 15:03] hjonnala commented on #44
Hi, @VelizarVESSELINOV were you able to run the demo?

[2021-08-24 15:05] hjonnala commented on #38
can you please share the model that you are using?

[2021-08-24 15:11] hjonnala commented on #36
Hi, were you able to run the pipelineModelRunner with detection models?

[2021-08-25 05:19] HanChangHun commented on #36
Yes, but I can inference only one input. And can't run pop(). Instead of pop(), detect.get_objects(runner.interpreters()[-1], threshold, scale) should be used.

These problems may be overcome by extending pipelineModelRunner for detection.

[2021-09-02 22:23] cku239 commented on #44
I have the same issue . Followed the instructions and get the same error. I tried the python 3 command and all I get is
File "<string>, line 1
    from pycoral.utils.edgetpu import
SyntaxError: invalid syntax

[2021-09-03 12:37] hjonnala commented on #44
@cku239 if you are trying the code in file try this:

[code]

[2021-09-06 02:56] dtlam26 commented on #23
I think that is cable problem :(. but how can I share `dmesg`?

[2021-09-06 04:02] manoj7410 commented on #23
@dtlam26 You can run the command 'dmesg' on the terminal and paste the output here.

[2021-09-07 09:11] dtlam26 commented on #23
I will attach the output [here](https://drive.google.com/file/d/12lK0fiaMQVAf-cX_gVym9bqwh7Ga5pFH/view?usp=sharing), thank you for your help.

[2021-09-08 03:26] manoj7410 commented on #23
@dtlam26 Logs show that the camera is not connected. Reason can be either the cable is damaged or not connected properly.

[2021-09-08 16:21] hjonnala commented on #42
@truncs sorry for the delay. Are you still facing the issue?  Can you please try with other [object detentions](https://coral.ai/models/object-detection/) models and see if Dual Edge TPU hangs or not.

[2021-09-10 23:39] RogerWebb opened #45 "Get Started Directions for USB Accelerator on RPi4 - No module named pycoral.adapters"
### Description

Refererence:  https://coral.ai/docs/accelerator/get-started

Following the instructions at the above reference URL, I was able to build and install the Edge TPU Runtime (libedgetpu1-std) and PyCoral via the specified "sudo apt-get install python3-pycoral" and I see it's at the current version (a re-run of the command gets a "python3-pycoral is already at the newest version (2.0.0)

[2021-09-10 23:53] #45 closed

[2021-09-12 13:52] noamholz opened #46 "slow inference on ARM64 device"
### Description

Hi there,
I am using a Rockchip - RK3399 (64-bit CPUS: Dual Cortex-A72 + Quad Cortex-A53, USB: 3.0), with Ubuntu 18.04.1 LTS, Python 3.6.8.
When running [examples/detect_image.py](https://github.com/google-coral/pycoral/blob/master/examples/detect_image.py) with the model *efficientdet_lite2_448_ptq_edgetpu.tflite*:
the inference takes ~330 ms, while I expected ~100 ms (from the p

[2021-09-13 19:06] scottamain commented on #45
Hi @RogerWebb, did you resolve this? If so, please let us know what the problem was in case others encounter this as well.

[2021-09-14 00:02] hjonnala commented on #46
Hello @noamholz Could you please share the link to published benchmarks?

with USB accelerator inference speeds might differ based on your host system and whether you're using USB 2.0 or 3.0.

Here rare the results on my Linux Machine:

With  libedgetpu1-max
[code]
with  libedgetpu1-std
[code]

[2021-09-14 06:33] noamholz commented on #46
Thanks @hjonnala for your reply,

My system is indeed using USB 3.0, and the CPUs: Dual Cortex-A72 + Quad Cortex-A53.

Here's how I relate my case to the [published benchmark](https://coral.ai/docs/edgetpu/benchmarks/) -
I expect my system to be similar enough to the Coral dev-board, since they seem to have similar computing power.
But while the dev-board is on par with "Desktop CPU + USB Accelera

[2021-09-14 15:10] hjonnala commented on #46
Operating frequency also affects the inference time. Can you try installing edgetpu runtime with maximum operating frequency? (`sudo apt-get install libedgetpu1-max`)

On my Linux machine(x_86_64), with standard operating frequency
[code]
with maximum operating frequency
[code]

[2021-09-14 15:17] hjonnala commented on #44
Hi, @VelizarVESSELINOV were you able to run the demo?

[2021-09-15 19:35] truncs commented on #42
Yeah same problem.

[2021-09-15 21:52] cku239 commented on #44
I am getting the same error. Is this because homebrew  (on M1)is installing the libusb library in /opt/homebrew/opt/libusb/lib but the code is using the old way of doing things '/opt/local/lib/'.

Bit new to MacOS so not sure what is best way to set this to look for correct path (assuming that is the problem).

`(CoralAcc) brian@Brians-Air pycoral % python3 examples/classify_image.py \
--model tes

[2021-09-16 20:34] hjonnala commented on #44
@cku239 have you installed edgetpu runtime?

can you please paste the output of this command:

`python3 -c 'from pycoral.utils.edgetpu import get_runtime_version; print(get_runtime_version())'`

and which coral device are you trying to use?

[2021-09-16 21:23] cku239 commented on #44
I'm trying to get USB accelerator version to work.

How would I know if the runtime has been installed? I've followed the instructions and got no errors until running the test at end of the instructions. I ran the instructions to install edgetpu got the message about whether the USB accelarator should run outside its operating temp.
i Iave two folders libedgetpu and libedgetpu_bin

This is what I

[2021-09-16 21:40] hjonnala commented on #44
Have you installed [pycoral](https://coral.ai/docs/accelerator/get-started/#pycoral-on-mac-win)? can you please attach `pip freeze` output in text file.

Please try these commands on terminal and paste the output here:

`python3 -c "from ctypes.util import find_library; print(find_library(\"edgetpu\"))"`

After connecting USB accelerator:

`lsusb -d 1a6e:089a`

[2021-09-16 22:14] cku239 commented on #44
I tried reinstalling everything to make sure didn't make a mistake. Saw this message
"Installing Edge TPU runtime library [/usr/local/lib]...
Installing Edge TPU runtime library symlink [/usr/local/lib]..."

(CoralAcc) brian@Brians-Air ~ % python3 -c "from ctypes.util import find_library; print(find_library(\"edgetpu\"))"
None
(CoralAcc) brian@Brians-Air ~ %

lsusb output:-
(CoralAcc) brian@Brians

[2021-09-16 22:21] hjonnala commented on #44
similar to this ` python3 -c "from ctypes.util import find_library; print(find_library("edgetpu"))"` can you paste the output of this command
  `python3 -c "from pycoral.utils.edgetpu import get_runtime_version; print(get_runtime_version())"`

[2021-09-17 13:13] gavan1 opened #47 "Dual Edge TPU + two_models_inference.py Example (Two TPUs not detected)"
### Description

Dual Edge TPU installed + pycoral
No problem inferencing with a single model.

**python3 examples/two_models_inference.py   --classification_model test_data/mobilenet_v2_1.0_224_quant_edgetpu.tflite    --detection_model     test_data/ssd_mobilenet_v2_face_quant_postprocess_edgetpu.tflite   --image test_data/parrot.jpg**
[code]
**lspci -vvv**
[code]

Advise on correct command and w

[2021-09-17 13:50] hjonnala commented on #47
Hi Can you share output of below snippet:

[code]

[2021-09-17 13:55] hjonnala commented on #44
you will get htis error if you are trying inside `coral/pycoral` directory. please try outside of it.

[2021-09-17 14:34] cku239 commented on #44
(base) brian@Brians-Air edgetpu_runtime % python3 -c "from ctypes.util import find_library; print(find_library("edgetpu"))"
Traceback (most recent call last):
  File "<string>", line 1, in <module>
NameError: name 'edgetpu' is not defined

(base) brian@Brians-Air edgetpu_runtime % python3 -c "from pycoral.utils.edgetpu import get_runtime_version; print(get_runtime_version())"
Traceback (most recen

[2021-09-17 15:02] hjonnala commented on #44
can you try coping `/opt/homebrew/opt/libusb-1.0.0.dylib `and `/opt/homebrew/opt/libusb-1.dylib` to `/opt/local/lib/`

[2021-09-19 08:37] noamholz commented on #46
Thanks @hayatoy.
Using libedgetpu1-max certainly improves the speeds.

[code]
But for the model *efficientdet_lite2_448_ptq_edgetpu.tflite*, running via examples/detect_image.py,
the inference goes down from ~330 ms to ~280 ms, while the benchmark says ~100 ms. So there's still a significant gap here, of more than x2.
By the way, does the published benchmark assume libedgetpu1-**std** or **max**?

[2021-09-19 12:05] staebchen0 opened #48 "Error ValueError: Failed to load delegate from edgetpu.dll And No module named 'pycoral.pybind'"
### Description

I have been trying to get the google coral usb accelerator running under windwos 10 for days.

Under Visual Studio 2019 i have

- python 3.7.8 64bit and
- C++ App VS 2019 Installed

- edgetpu_runtime_20210726.zip extracted
- Install.bat executed

**Install.bat Result:**
------------------------------------------------------------------------------------------------------
[code]
[c

[2021-09-19 21:52] hjonnala commented on #48
please check this comment https://github.com/google-coral/libedgetpu/issues/29#issuecomment-909207700.

Thanks

[2021-09-20 06:56] minhhoai1001 commented on #24
Thank you. I work for me.

[2021-09-20 15:24] staebchen0 commented on #48
Thank you for the hint :-)
now I have installed the other runtime

edgetpu_runtime_20210119

2.5.0.post1

2.12.1

**Test works now:**
[code]

now I wanted to do a test with my own model

Beispiel:
[code]

Error:
In line :from edgetpu.classification.engine import ClassificationEngine
No module named '_edgetpu_cpp_wrapper'

Although the edgetpu_cpp_wrapper.py script in the
AnjaCoral \ envCoralPy8 \

[2021-09-20 15:29] hjonnala commented on #48
edgetpu api is deprecated. It has been modified to libcoral api for c++ and pycoral api for python.

Please refer to [examples-camera](https://github.com/google-coral/examples-camera) for opencv example scripts.

[2021-09-20 16:05] staebchen0 commented on #48
okay i'm trying.
Can you still tell me how to install the compiler on Windows?
Only the commands for Linux are shown on the info page

[2021-09-20 16:09] hjonnala commented on #48
sorry, compiler does not work on windows. Please use [web compiler](https://colab.research.google.com/github/google-coral/tutorials/blob/master/compile_for_edgetpu.ipynb).

[2021-09-20 16:33] hjonnala commented on #42
@truncs  can you please share the software and hardware details.

[2021-09-20 16:34] hjonnala commented on #37
Feel free to reopen if issue still exists and share the uncompiled tflite model.

[2021-09-20 16:34] #37 closed

[2021-09-20 16:47] staebchen0 commented on #48
okay thank you very much! compiling worked.

now I get detect.py when running the script
the error:
`list index out of range`
code line:
`objs = get_objects (interpreter, args.threshold) [: args.top_k]`
I have 4 classes in the model
label.txt values:
0 0_none
1 1_cat
2 2_mouse
3 3_other

[2021-09-20 17:00] hjonnala commented on #48
you might not be getting 4 values from `get_objects`. Please check how many objects you are getting.

[2021-09-20 17:03] staebchen0 commented on #48
I think it's because I have a classification model and not a detection model!

is there also an example of a classification model?

under
examples-camera / opencv /
is just the detect.py example

[2021-09-20 17:35] hjonnala commented on #48
yes, we have only object detection with opencv.

[2021-09-20 18:02] staebchen0 commented on #48
okay thanks for your help :-)

[2021-09-20 18:02] #48 closed

[2021-09-20 19:21] hjonnala commented on #46
Hi @noamholz  the published benchmark assume libedgetpu1-max. (Since we are doing max performance test we use max frequency).

The benchmarks for `efficientdet_lite2_448_ptq_edgetpu.tflite`  model are measured with a Coral USB Accelerator on a desktop CPU` (Single 64-bit Intel(R) Xeon(R) Gold 6154 CPU @ 3.00GHz)`. As both(`Desktop CPU and  Rockchip - RK3399`) are different CPU architectures you mi

[2021-09-21 20:31] hjonnala commented on #42
can you please try [two model inference.py](https://github.com/google-coral/pycoral/blob/master/examples/two_models_inference.py) with dual edge tpu and share the output of below snippet:

[code]

[2021-09-22 17:56] staebchen0 opened #49 "error: external/org_tensorflow/tensorflow/lite/core/subgraph.cc:1044 required_bytes != bytes (602112 != 150528)"
### Description

Since I use Windows 10, I unfortunately cannot use the current runtime, but have to use the version
edgetpu_runtime_20210119.zip
to use.

In order for this to work, I have to compile my model to 13 with the Edge TPU compiler
`edgetpu_compiler -s -m 13 model_unquant_8020.tflite`
new Mode: example_edetpu13.tflite

[code]

My model is still not running

Test Code:
[code]

Failure:
[c

[2021-09-22 18:39] hjonnala commented on #49
can you please share your CPU tflite model? `edgetpu api `is deprecated, please try to rewrite the code using `pycoral api`

[2021-09-22 22:06] magic-blue-smoke commented on #47
Some logs collected here: https://github.com/magic-blue-smoke/Dual-Edge-TPU-Adapter/issues/3
You might have issue with only one PCIe routed to m.2 slot. I've made write up on this: https://github.com/magic-blue-smoke/Dual-Edge-TPU-Adapter

[2021-09-23 16:35] staebchen0 commented on #49
i know the edgetpu api is out of date, but with the pycoral api i get the error list index out of range

with this Test Script:

[code]
Code line:
objs = get_objects (interpreter, args.threshold) [: args.top_k]

That's why I tried the edgetpu api

attached my model:
[example_edetpu13.zip](https://github.com/google-coral/pycoral/files/7219319/example_edetpu13.zip)

[2021-09-23 22:05] hjonnala commented on #49
Hi  `get_objects` is for object detection models. we can't use it for classification models.

could you please first [quantize](https://colab.research.google.com/github/google-coral/tutorials/blob/master/retrain_classification_ptq_tf2.ipynb#scrollTo=kRDabW_u1wnv)  the model and try [classify_image.py](https://github.com/google-coral/pycoral/blob/master/examples/classify_image.py)

[2021-09-24 02:04] ergoego commented on #28
This exact same thing is happening for me as well, but on a raspberry pi 4. Is there a way to flash he USB Accelerator or do I need to flash my raspberry pi and start from scratch?

[2021-09-24 14:53] staebchen0 commented on #49
okay i'm one step further now.
I have my model as mymodel_edgetpu.tflite
created.

and then compile it with:
`edgetpu_compiler -s -m 13 $ TFLITE_FILE`

classify_image.py
is running now :-)

Which example can I now use to test the classification with a camera?

[2021-09-24 15:53] hjonnala commented on #49
Please try with `classes = classify.get_classes(interpreter, args.top_k, args.threshold)` to get the outputs and add labels to the image..

This [calssify_capture.py](https://github.com/hjonnala/snippets/blob/main/classify_capture.py) might be helpful.

[2021-09-24 16:07] staebchen0 commented on #49
Thanks a Million!
It finally works under Win10 :-)

I hope the bug in the newest one
`edgetpu_runtime_20210726.zip` is found quickly so that I can also use it with Windows 10.

that would have made a lot easier

[2021-09-24 16:10] #49 closed

[2021-09-24 17:05] staebchen0 commented on #49
while testing, I just found out that the classes are no longer recognized correctly!

Could that have happened when compiling on runtime version 13?

[2021-09-24 17:33] hjonnala commented on #49
Please try the with some images detections and compare the results CPU tflite model vs edgetpu tflite model.

[2021-09-24 17:46] staebchen0 commented on #49
i already have that, the cpu tflite model gives 95% the right result

with the same pictures, the edgetpu model always brings the wrong class

aside from that, I only get two classes even though I set top_k to 4
 parser.add_argument (
`      '-k', '--top_k', type = int, default = 4`

[2021-09-24 19:47] hjonnala commented on #49
Okay, please create new performance issue with  the details below:

- quantized cpu tflite model
- edgetpu model
- dateset at least with 100 images
- script that produces comparison of CPU vs edgetpu output results for the given datasets.

Thanks

[2021-09-25 08:01] staebchen0 opened #50 "poor classification results with edgetpu model"
### Description

I create my models with Teachable Machine.
For this test, I downloaded all three model variants.

So far I have been using the unquant.tflite model for classification, which achieves excellent results.
Test with the script:
`images_predict_unquant_Teach_Lite.py` - All images in a directory are checked
Model: model_unquant.tflite

To speed things up, I got the
coral usb accelerator

[2021-09-25 08:05] staebchen0 commented on #49
was created
https://github.com/google-coral/pycoral/issues/50

[2021-09-25 09:33] staebchen0 commented on #50
one more hint
I think I forgot in the script `images_predict_unquant_Teach_Lite.py`
the line of code 363

`    remove_Folder(imgPathOut)`

comment out. This will always delete the result. And you can't see the result.

[2021-09-25 11:25] staebchen0 commented on #50
attached is an example of the edgetpu model

All images in the specified directory are checked.
[images_predict_edgetup_all.zip](https://github.com/google-coral/pycoral/files/7229665/images_predict_edgetup_all.zip)
Here you can see very clearly that the classification does not work

[2021-09-25 17:32] staebchen0 commented on #50
I now also have a test with the model:
`model_quantized.tflite`
made.

I previously complied the model with the edgetpu complier in version 13.

The result is definitely better, all with the edgetup model

how can that be?

The hit rate is best with model_unquant.tflite

result in the attached file
[Result classification.ods](https://github.com/google-coral/pycoral/files/7230120/Result.classificat

[2021-09-27 16:44] hjonnala commented on #50
can you please replace `model_quantized_edgetpu.tflite` with version 13 edgetpu file and run `classification_cpu_vs_edgetpu.py`.

After running please check `comaparision_results.csv` and share the results.

Thanks

[pycoral_50.tar.gz](https://github.com/google-coral/pycoral/files/7238002/pycoral_50.tar.gz)

[2021-09-27 18:34] staebchen0 commented on #50
i don't have pandas installed. Which version should I install in the env?

[2021-09-27 18:58] hjonnala commented on #50
`pandas==1.1.5`

[2021-09-27 20:19] hjonnala commented on #47
Thanks @magic-blue-smoke

@gavan1 if both tpus detected you would be to see two device with id 089a

[code]

[2021-09-27 20:19] #47 closed

[2021-09-28 15:16] hjonnala commented on #50
If we look at the results column both quantized tflite output and edgetpu tflite outputs are similar.

can you please tell what is the problem here?

[2021-09-28 15:41] staebchen0 commented on #50
When creating the result file, with classification_cpu_vs_edgetpu.py the paths were wrong. I have to adjust them again
 from:
`models = [model for model in os.listdir(base_dir) if  #model.endswith('.tflite')]`
in
`models = [model for model in os.listdir(model_dir) if model.endswith('.tflite')]`

and from
`model_path = os.path.join(base_dir, model)`
in
`model_path = os.path.join(model_dir, model`

[2021-09-28 16:02] staebchen0 commented on #50
I found the mistake

 cmd = f'''python3 classify_image.py \
in
 cmd = f'''python classify_image.py \

i used a virtual environment. That would have to be added to your script.
How can I specify the correct virtual environment here?
[code]

[2021-09-28 16:12] hjonnala commented on #50
fro example if your env is `pycoral_venv` try to replace `python` with  `<path to pycoral_venv/Scripts/python.exe`

[2021-09-28 16:49] staebchen0 commented on #50
here first the results with my models.

Unfortunately, the values ​​are no longer correctly transferred to the columns.

I'll try the model now:
`model_quantized_edgetpu.tflit
[comaparision_results.csv](https://github.com/google-coral/pycoral/files/7246035/comaparision_results.csv)
e`

[2021-09-28 17:01] staebchen0 commented on #50
result with your model:
model_quantized_edgetpu.tflite

that can't work because I can't use the new version 14 under Win10. As already described above.
csv file is empty

Messages

[code]

[2021-09-28 17:03] hjonnala commented on #50
I know, v14 does not work on your machine. we are only interested in comparison between `quantized cpu tflite` model and corresponding `v13 edgetpu model.` Please let us know, if there are issues with results comparison for these two models.

[2021-09-28 17:32] staebchen0 commented on #50
so here the results of the models:

example_edgetpu_v13 quantized.tflite
example_edgetpu_v13.tflite

In the results file you can see that with the
example_edgetpu_v13 only 2 classes are returned and that the classification is wrong
file
[comaparision_results.csv](https://github.com/google-coral/pycoral/files/7246238/comaparision_results.csv)

[2021-09-28 18:05] hjonnala commented on #50
if you look at example_edgetpu_v13.tflite using https://netron.app/ there are only 2 output tensors [1 2]. That's why you are getting only 2 results.

![image](https://user-images.githubusercontent.com/86132058/135141242-a9e25d56-71cf-4dd6-bccf-071f7f59c4b3.png)

[2021-09-28 18:19] staebchen0 commented on #50
that's strange. As described, I created all three models with a teachable machine in one run. And then exported in the various variants.
Then I compiled it into version 13.

two models work only the edgetpu model shows differences.

Here you can see that there were 4 classes in the original model edgetpu. Then this must have happened when compiling to version 13
![orgEdgetpu](https://user-images.g

[2021-09-28 18:22] staebchen0 commented on #50
here the original edgetpu file
[converted_edgetpu.zip](https://github.com/google-coral/pycoral/files/7246512/converted_edgetpu.zip)

[2021-09-28 18:37] hjonnala commented on #50
I am not sure how you get the edgetpu file with **two output tensors**.. It **should not happen** if input `TFLITE_FILE` has 4 output tensors.

[2021-09-28 19:49] staebchen0 commented on #50
could you complieren the model in version 13?

i then test how the classification works

[2021-09-28 20:34] hjonnala commented on #50
Please check attachment and just keep` model_quantized_v13.tflite `(quatized cpu tflite model) and `model_quantized_v13_edgetpu.tflite`(v13 edgetpu model) and test it..
[pycoral_50.tar.gz](https://github.com/google-coral/pycoral/files/7247106/pycoral_50.tar.gz)

[2021-09-28 21:04] staebchen0 commented on #50
the result of your model: model_quantized_v13_edgetpu.tflite is very good.

See file.
[comaparision_results.csv](https://github.com/google-coral/pycoral/files/7247280/comaparision_results.csv)

how did you compile the model into version 13?

[2021-09-28 21:06] hjonnala commented on #50
! edgetpu_compiler -s -m 13 model_quantized_v13.tflite

[2021-09-28 22:48] hjonnala commented on #44
@cku239 does your issue got resolved?

[2021-09-29 12:54] hjonnala commented on #50
Hi, do you have questions here, if not please close this ticket.

[2021-09-29 16:27] staebchen0 commented on #50
somehow the worm is in there. I wanted to compile the original Edge tpu file to version 13, as I did before. The compiler message:
![Edge TPU compiler](https://user-images.githubusercontent.com/49452430/135309268-42f28fa3-1d60-4039-8326-eb416bed72e6.PNG)

my guess is now as follows. The compiler compiled the file on the last attempt and two classes were removed from the edgetpu model. There is no

[2021-09-29 18:18] hjonnala commented on #50
you can't compile edgeptu tflite file using compiler to version 13. The input for compiler is always uncompiled tflite file..

Compiler does not change the model architecture(It won't remove any  classes). If the input tflite file has 2 output tensors then output would also 2 output tensors..

The input for  `model_quantized_v13_edgetpu.tflite` is  `model_quantized_v13.tflite`. `model_quantized_v1

[2021-09-29 19:24] #50 closed

[2021-10-15 02:50] luckywangchenxi opened #54 "How to run yolov5(pytroch) in google-TPU Dev Board"
### Description

Hi, I am a student and I want to deploy yolov5 to google-TPU Dev Board.
I would like to ask how to run https://github.com/ultralytics/yolov5 on google-TPU Dev Board (https://coral.ai/products/dev-board) .
From what I have checked so far
1. Need to convert pytorch to TensorFlow via onnx.
2.  Convert tflite model to tflite-tpu model.
3. Then deploy to google-TPU development board.
I

[2021-10-17 19:54] lfriedri opened #55 "Inference benchmarks for Movenet"
### Description

Could you please provide benchmark results for Movenet (lightning + thunder) inference latency on Coral Dev Board?

I currently run Movenet on USB Accelerator connected to RaspberryPi4. Unfortunately, inference latency here is more than a factor of two larger than the value of 13.8ms promoted here https://coral.ai/models/pose-estimation/ for thunder.

Getting a measured value for

[2021-10-18 20:11] #30 closed

[2021-10-18 21:42] Naveen-Dodda commented on #55
Hi Ifiedri,

Dev board has high latency when compared with X86 machine for Movenet.
Note : Total latency = TPU latency + CPU latency
Movenet has 50% of its operations running on CPU. Since Dev board has limited cpu compute it takes longer to complete the inference resulting increase in over all latency.

The difference in latency is only due to CPU compute power of host machine for this Model.

[2021-10-21 14:17] norton-chris opened #57 "edgetpu.make_interpreter fails without printing error (WIN, PY3.8)"
### Description

Hi,
Been having a lot of trouble building and getting pycoral to work. Running on Windows, anaconda prompt, and python 3.8 is the only setup I've been able to get to run without any build or import errors.
I am running into a problem with edgetpu.make_interpreter specifically. When I run my program it gets to `interpreter = edgetpu.make_interpreter("model.tflite")` and then the pr

[2021-10-21 16:07] hjonnala commented on #57
Is it the same model (mobilenet_v2_1.0_224_inat_bird_quant_edgetpu.tflite) you are not getting print statements after make_interpreter call or a different model. If its different model, can you please share the model.

Also, are you working with custom build libraries or pre build ones?

[2021-10-22 01:49] norton-chris commented on #57
Using a custom model, but just tried that model and I get the same results.

Here's the code snippet I'm running:
print("make interpreter", args.model)
interpreter = edgetpu.make_interpreter("pycoral/test_data/mobilenet_v2_1.0_224_inat_bird_quant_edgetpu.tflite")
#interpreter = make_interpreter("model.tflite@:0")
print("allocate_tensors")
interpreter.allocate_tensors()

It would hit make interpret

[2021-10-26 13:02] rikardn opened #58 "Wheels for tflite for python 3.10"
### Description

I don't know if this is the right place to report this, but since Python 3.10 has been released wheels for tflite would be needed.

<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Operating System

_No response_

### Coral Device

_No response_

### Other Devices

_No response_

### Programming Language

_No response_

### Relevant Log Output

_No

[2021-10-30 01:58] arrowkato opened #59 "Inference speed on ubuntu20.04 is more than twice as slow as inference speed on ubuntu18.04"
### Description

I use servers with [AI Accelerator PCIe Card](https://iot.asus.com/products/AI-accelerator/AI-Accelerator-PCIe-Card/).

# ubuntu18.04
I installed ubuntu18.04 (kernel version 4.18 or lower) and configured it according to [Get started with the M.2 or Mini PCIe Accelerator](https://coral.ai/docs/m2/get-started)

At this time, I installed libedgetpu1, not libedgetpu1-std, but libedget

[2021-11-01 06:37] manoj7410 commented on #59
@arrowkato Please paste the output of below commands from both the machines:
- modinfo gasket
- modinfo apex
- uname -a

[2021-11-13 03:36] vincent-jyq commented on #36
@hjonnala @HanChangHun
I'm having the same issue here.
I was trying to segment efficientdet_lite2_448 and delegate to two TPUs to speed up the inference time. The goal is trying to hit 12fps with multi threading.
Looking at the output tensor from runner.pop, seems like the output tensor got x4 inflated. Not sure if it's caused by the
TFLite_Detection_PostProcess stage:
![efficientdet_lite2_448_ptq

[2021-11-15 09:38] keesschollaart81 commented on #57
I have the same issue? The same code + USB Device that used to work now does not work anymore, since I ran it last, some time ago. I might overlook a change here but the only significant difference I have is my upgrade to Windows 11...?

[code]

And then repeating this loop...

I'm not running Python, I C#bindings to edgetpu.dll similar to [these](https://github.com/harujoh/TensorFlowLiteNet/blob/

[2021-11-15 14:34] hjonnala commented on #57
Hi @keesschollaart81 we haven't tested the USB accelerator and software with windows 11 yet. If possible, can you please test with windows 10?

[2021-11-15 14:36] keesschollaart81 commented on #57
Yeah, will test on the laptop of my colleague tomorrow morning (CEST), will report back here!

[2021-11-15 16:39] hjonnala commented on #36
@vincent-jyq can you please try this [script](https://github.com/hjonnala/snippets/blob/main/model_pipelining_inference.py) and check if inference time is getting improved or not for your model.

[2021-11-16 08:43] keesschollaart81 commented on #57
Can confirm: same code/device/model-file/driver-version does work on Windows 10 machine. So at least for me, it seems to be an issue with either my machine or Windows 11.

[2021-11-16 19:40] norton-chris commented on #57
Sorry school kinda took over my life the last few weeks. Yes, I was having this problem with Windows 11. @keesschollaart81 thanks for testing that out, will try a windows 10 machine.

[2021-11-17 03:29] vincent-jyq commented on #36
@hjonnala, thanks for your quick response, I appreciate it.
Yes, that helps improve the inference time even though it's not doing much in the consumer.
I also see your reply in [https://github.com/google-coral/tutorials/issues/17](url)
Which really helps me to get the consumer side working.

Thanks for your help and hope it would also help other viewer.

[2021-11-18 15:11] hjonnala commented on #36
@HanChangHun please check this sample code if you are still working on it: https://github.com/google-coral/tutorials/issues/17#issuecomment-972277946.

[2021-11-18 17:04] hjonnala commented on #54
Feel free to reopen if you have questions.

[2021-11-18 17:04] #54 closed

[2021-11-24 12:16] corvitacvision opened #60 "tflite runtime conflicts with tensorflow version"
### Description

Hello all, I am using USB Coral TPU. I want to update my code from libedgetpu to Pycoral. I am using tensorflow 2.6, pycoral version: 2.0 and tflite_runtime : 2.5.0.post. I have successfully installed the packages but when I run my object detection code and I also want to use tensorflow in parallel at that time I am getting following runtime error. Any help is appreciated!

[code]

[2021-11-24 15:32] hjonnala commented on #60
@corvitacvision can you please check this https://github.com/google-coral/pycoral/issues/57#issuecomment-949997068 issue to fix it.

[2021-11-25 04:39] AnandaRauf opened #61 "Error pycoral"
### Description

Hello, i found bug in pycoral and edgetpu.

Error Message :
 from pycoral.pybind._pywrap_coral import GetRuntimeVersion as get_runtime_version
ImportError: DLL load failed while importing _pywrap_coral: The specified module could not be found.

<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Operating System

Windows 10

### Coral Device

M.2 Accelerator wi

[2021-11-25 04:46] AnandaRauf opened #62 "BUG Edge TPU and ERROR Install Pycoral for Python 3.7"
### Description

Hello, i found bug in edge TPU and Error install Pycoral for python version 3.7 :
Traceback (most recent call last):
  File "C:\Users\Ananda Rauf Maududi\Downloads\Sistem Informasi Deteksi Benda Berbahaya(SIni Dek Benar) PC\sinidek.py", line 1, in <module>
    from edgetpu.classification.engine import ClassificationEngine
  File "C:\Users\Ananda Rauf Maududi\AppData\Local\Programs

[2021-11-25 06:11] manoj7410 commented on #61
Is this duplicate of https://github.com/google-coral/pycoral/issues/62 ?

[2021-11-25 06:15] manoj7410 commented on #62
Does this helphttps://github.com/google-coral/pycoral/issues/32#issuecomment-877944752 ?

[2021-11-25 10:52] corvitacvision commented on #60
@hjonnala Thank you for your reply. I have solved the issue by downgrading tensorflow version from 2.6 to 2.4 and now it runs without any runtime error.

[2021-11-25 10:53] #60 closed

[2021-11-25 10:56] corvitacvision opened #63 "List of TPUs with States"
### Description

Hello all, is there any python wrapper of functions like list of tpus with showing states of them like "EDGE_TPU_STATE_NONE", "EDGE_TPU_STATE_UNASSIGNED" in PyCoral API?

<details><summary>Click to expand!</summary>

 ### Issue Type

Feature Request

### Operating System

Ubuntu

### Coral Device

USB Accelerator

### Other Devices

_No response_

### Programming Language

Python

[2021-11-29 15:16] hjonnala commented on #61
Please uninstall the pycoral and [install](https://coral.ai/docs/accelerator/get-started#pycoral-on-mac-win) with the command below.

`python3 -m pip install --extra-index-url https://google-coral.github.io/py-repo/ pycoral~=2.0`

Please share the output of below snippet if issue still exists. Thanks!

[code]

[2021-11-29 16:10] hjonnala commented on #57
@norton-chris @keesschollaart81 I have tested Coral USB accelerator with windows 11 and it is **working.** Please make sure you are running runtime version 13: https://github.com/google-coral/libedgetpu/releases/download/release-frogfish/edgetpu_runtime_20210119.zip

[2021-11-30 18:25] hjonnala commented on #62
please uninstall edgetpu since it is deprecated. And install pycoral as described in this comment: https://github.com/google-coral/pycoral/issues/61#issuecomment-981731720..

Feel free to add comments to this issue if they are any questions: https://github.com/google-coral/pycoral/issues/61

Thanks

[2021-11-30 18:25] #62 closed

[2021-11-30 20:22] hjonnala commented on #63
Hi @corvitacvision there is no python wrapper to know the states with PyCoral API.

 We used to have them in [edgetpu repo]( https://github.com/google-coral/edgetpu/blob/6d699665efdc5d84944b5233223c55fe5d3bd1a6/edgetpu/basic/edgetpu_utils.py ).  These are artificial states. They somewhat make sense only inside a single operating system process. E.g. if you run one python program the TPU state beco

[2021-11-30 20:22] #63 closed

[2021-12-01 17:48] truncs commented on #42
This is what I see

[code]

[2021-12-02 07:18] manoj7410 commented on #42
@truncs Can you paste the output of the command:

lspci -vvv

[2021-12-02 17:53] truncs commented on #42
The relevant lspci -vvv

[code]

[2021-12-02 18:11] hjonnala commented on #42
do you have any other operating system and/or hardware to test to know whether the issue with software or hardware?

[2021-12-02 18:32] truncs commented on #42
I don't have a hardware with an E key slot, unless I can plug it into a Pi.

[2021-12-02 18:40] hjonnala commented on #42
Okay, can you please try with different operating system as other user faced HIB error issue with windows but it got resolved with ubuntu. https://github.com/google-coral/edgetpu/issues/484

[2021-12-02 19:57] truncs commented on #42
That is interesting since I did test on Ubuntu without any adapters. Do you guys have any recommendation on what adapter to use?

[code]

[2021-12-02 22:24] hjonnala commented on #42
we have tested  ASUS Coral Card: https://iot.asus.com/products/AI-accelerator/AI-Accelerator-PCIe-Card/. But, with this card you won't be able to use the dual edge TPU  as it likely doesn't provide 2 PCIe buses per M.2 (but a single TPU card would work).

Here is an example for the ASUS PCIe card that uses 8 TPUs in parallel: https://github.com/google-coral/demo-multi-video-stream

[2021-12-09 16:37] StephenKThung opened #64 "Pretrained models license"
### Description

Hi all, my group is interested in working with some of the [pre-trained models from the coral model zoo](https://coral.ai/models/object-detection/)

We saw that they are marked as "for demonstration purposes only" but have been unable to find a more specific license. Do they simply inherit the licenses from COCO and this repo or are there additional considerations?

Thanks!

<deta

[2021-12-09 23:18] hjonnala commented on #64
Hi @StephenKThung  most of our models and pycoral repo are Apache licensed.

https://github.com/google-coral/pycoral/blob/master/LICENSE
https://github.com/google-coral/test_data/blob/master/LICENSE

[2021-12-09 23:23] hjonnala commented on #61
Feel free to reopen if you are having any issues with pycoral installation. Thanks

[2021-12-09 23:23] #61 closed

[2021-12-10 17:58] StephenKThung commented on #64
Thanks for the information!

[2021-12-10 17:58] #64 closed

[2021-12-15 02:29] chunky opened #66 "Feature Request: Environment Variable override for Device Selection"
### Description

I'm currently writing some code to experiment with multiple coral devices, and it would be immensely helpful if I had a mechanism to inject the name of the device I want to use out of band [ie, without adding it directly to any code paths].

For now, I've added an environment variable lookup to my code:

[code]

I intuit it may even better to add such a thing to libedgetpu itself,

[2021-12-15 15:33] hjonnala commented on #66
Hi @chunky please check these sample functions to get the num devices and make interpreters using those devices:

https://github.com/google-coral/pycoral/blob/master/examples/model_pipelining_classify_image.py#L49
https://github.com/google-coral/pycoral/blob/master/examples/model_pipelining_classify_image.py#L77

If you want to pass them as params to the script,you can add  an [argumnet](https://g

[2021-12-16 01:09] chunky commented on #66
Sure, and my code above shows how I am already able to select the device using code. This feature request is because sometimes it would be helpful to have a mechanism to specify the device in a manner that doesn't need an extra parameter to be passed around. For example:

* Specify device in tools developed by someone else where they didn't provide an option. eg [the minigo example on coral.ai](ht

[2021-12-23 15:47] TimPearson opened #67 "PyCoral on RPi Bullseye 32Bit (Python3.9)"
### Description

Failed to run examples (classify_image.py) on latest install RPi4 operating system (11 aka Bullseye) with error No module named 'pycoral.adapters'.

I suspect this is because it comes with python 3.9. (alternatively I have done something stupid and am an idiot)

I tried downgrading to 3.8 but got into version hell with NUMPy etc.

<details><summary>Click to expand!</summary>

 ###

[2021-12-23 16:49] hjonnala commented on #67
Hello @TimPearson Can you please share how did you install and the pycoarl and output of below snippet.

[code]

[2021-12-23 21:37] TimPearson commented on #67
Hello @hjonnala sure but i will have to recreate system as have since messed it up trying to find a fix, will try and get that done tomorrow.

[2021-12-24 11:54] TimPearson commented on #67
From clean system:
sudo apt install git
sudo apt install python3-virtualenv
sudo apt-get update
echo "deb https://packages.cloud.google.com/apt coral-edgetpu-stable main" | sudo tee /etc/apt/sources.list.d/coral-edgetpu.list
curl https://packages.cloud.google.com/apt/doc/apt-key.gpg | sudo apt-key add -
sudo apt-get install libedgetpu1-std
sudo apt-get install python3-coral
mkdir coral
cd coral
gi

[2021-12-24 14:13] hjonnala commented on #67
can you try uninstall` python3-coral` and install ` python3-pycoral` (https://coral.ai/software/#debian-packages)

[2021-12-24 15:40] TimPearson commented on #67
i was still getting errors. Turned out that simply giving myself root rights via sudo solved the problem - i have no idea why? so:

sudo python3 examples/classify_image.py --model test_data/mobilenet_v2_1.0_224_inat_bird_quant_edgetpu.tflite --labels test_data/inat_bird_labels.txt --input test_data/parrot.jpg

gives 👎
----INFERENCE TIME----
Note: The first inference on Edge TPU is slow because it

[2021-12-24 15:40] #67 closed

[2021-12-25 11:19] saga0611 opened #68 "No module named 'pycoral.pybind._pywrap_coral'"
### Description

Hi all

I try to run on my raspi the image classifier example with the bird photo and get the error no module named 'pycoral.pybind._pywrap_coral'. Can someone help me please?
![image](https://user-images.githubusercontent.com/96651521/147383935-2551f6b4-7d87-4783-bc3d-82509cff3356.png)

I did all the steps of this installation guide:
https://coral.ai/docs/accelerator/get-started

[2021-12-25 16:19] hjonnala commented on #68
Hello @saga0611 pycoral module works with Python 3.6, 3.7, 3.8, or 3.9 versions only. Please upgrade the python version and try the demo.

[2021-12-25 17:05] saga0611 commented on #68
Hi @hjonnala

Thanks for your help!

I installed python 3.8 now but I get the same error. Do you have an other hint?
![image](https://user-images.githubusercontent.com/96651521/147389893-6e30b5d1-55e4-450b-8d36-6f9b4a34df10.png)

[2021-12-25 17:38] hjonnala commented on #68
Please check the pycoral version got installed.  and try the command as a super user.

`sudo python3.8 examples/classify_image.py --model test_data/mobilenet_v2_1.0_224_inat_bird_quant_edgetpu.tflite --labels test_data/inat_bird_labels.txt --input test_data/parrot.jpg`

[code]

[2021-12-25 19:15] saga0611 commented on #68
Here the version check of pycoral:

[code]

I tryed with "sudo" but unfortunately without success. Now with "sudo" I get this error:
[code]

Do you maybe know why I get this error although the installation of pycoral seems okay?

[2021-12-25 20:07] hjonnala commented on #68
hmm.. Have you uninstall and  install the pycoral after upgrading the python version?

Can please try to uninstall pycoral `sudo apt-get purge python3-pycoral` and install the pycoral using this command `sudo apt-get install python3-pycoral` and try the demo.

If this is not working please uninstall pycoral and install it using pip and try the demo. Thanks!

`python3.8 -m pip install --extra-index

[2021-12-25 20:29] saga0611 commented on #68
I unistalled pycroal and installed it with `sudo apt-get install python3-pycoral` but the example was still not working (same error as before).

With this command `python3.8 -m pip install --extra-index-url https://google-coral.github.io/py-repo/ pycoral~=2.0` I get this installation error:
[code]

Pillow seems to be a problem...

[2021-12-26 11:47] saga0611 commented on #68
Hi @hjonnala

I set up my raspi new and now it works. I don't know what was wrong with the system before.

Anyway thank you very much for your help!

[2021-12-26 11:47] #68 closed

[2021-12-29 04:38] ImanHosseini opened #69 "NOT FOUND errors"
### Description

Doing everything as in the [tutorial](https://coral.ai/docs/dev-board-mini/get-started/#7-run-a-model-using-the-pycoral-api), I get:
[code]

<details><summary>Click to expand!</summary>

 ### Issue Type

Bug, Support, Documentation Bug

### Operating System

Mendel Linux

### Coral Device

Dev Board Mini

### Other Devices

_No response_

### Programming Language

Python 3.7, Pyth

[2021-12-29 09:11] manoj7410 commented on #69
@ImanHosseini Just tried on my machine:
bash examples/install_requirements.sh
Download all files...
DOWNLOAD: mobilenet_v1_1.0_224_quant_embedding_extractor_edgetpu.tflite
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   191  100   191    0     0   1417      0 --:--:-- --:--:-- --:--:

[2021-12-29 09:57] ImanHosseini commented on #69
Internet connection was ok (I'd just cloned the repo), but since then I unplugged it _unsafely_ and now it doesn't show up in 'mdt devices' anymore. The light goes green, but doesn't show in 'mdt devices' also doesn't show under '/dev/tty*' (even if using GPIO). Is it possible that it has bricked?

[2021-12-29 20:38] hjonnala commented on #69
@ImanHosseini please try to re flash the dev board mini using [fast boot](https://coral.ai/docs/dev-board-mini/reflash/#force-boot-into-fastboot-mode) and try the tutorial.

[2022-01-03 20:34] hjonnala commented on #57
Feel free to reopen if you are still having the issue. Thanks!

[2022-01-03 20:34] #57 closed

[2022-01-17 06:12] Munna-Manoj commented on #69
ii  libedgetpu1-std:arm64                      16.0                                  arm64        Support library for Edge TPU
ii  python3-pycoral                            2.0.0                                 arm64        Coral Python API

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ModuleNotFoundError: No module named 'pycoral'

Even after installing pycoral and ne

[2022-01-19 19:54] Swiftnesses opened #70 "New, looking for way to detect and then classify in a simple file...."
### Description

Hello,

I've just downloaded pycoral and am really enjoying learning this new tool.

Essentially, I'm trying to combine the detected and classify examples to:

Look at an image (webcam jpg capture 1920x1080) and firstly identify if there are 'birds' present. If there are, I'd like to somehow utilise the bbox coordinates and run them though MobileNet V2 to classify the bird type.

[2022-01-19 20:44] Namburger commented on #70
@Swiftnesses maybe you can take a look at manufacturing demo?
https://github.com/google-coral/demo-manufacturing

The right side does a detection on the box and then run it through and classifier to see if the image in the bbox is a good or bad apple :)

[2022-01-19 20:47] Swiftnesses commented on #70
Hi @Namburger - I'll take a look but as a beginner, my first impression is that I'll not stand a chance understanding it!

I'm currently trying to use the box coordinates to resize the image, frustrating... :(

[2022-02-09 23:31] tom-gall opened #71 "Debian 10.11, aarch64, and No module named 'pycoral.pybind'"
### Description

Hi All,

I seem to have tripped across an issue reported before however the past solution doesn't seem to work.

I've the USB Coral
aarch64 install of Debian 10.11
pycoral-examples$ python3
Python 3.7.3 (default, Jan 22 2021, 20:04:44)
[GCC 8.3.0] on linux

pip3 install --force-reinstall  ~/pycoral-2.0.0-cp37-cp37m-linux_aarch64.whl ~/tflite_runtime-2.5.0.post1-cp37-cp37m-linux_aa

[2022-02-09 23:50] hjonnala commented on #71
Hello @tom-gall  please try renaming `/home/tgall/coral/pycoral-examples/pycoral/` folder to` /home/tgall/coral/pycoral-examples/pycoral2` or something else and try the demo.

[2022-02-09 23:52] tom-gall commented on #71
Bingo! That was it.

[2022-02-09 23:52] #71 closed

[2022-02-10 00:31] tom-gall opened #72 "failed to load delegate - aarch64, Debian"
### Description

Trying to run the initial example:

tgall@viper:~/coral/pycoral-examples$ python3 examples/classify_image.py  --model test_data/mobilenet_v2_1.0_224_inat_bird_quant_edgetpu.tflite --labels test_data/inat_bird_labels.txt --input test_data/parrot.jpg
Traceback (most recent call last):
  File "/home/tgall/.local/lib/python3.7/site-packages/tflite_runtime/interpreter.py", line 160, in

[2022-02-10 01:21] hjonnala commented on #72
Can you please try below commands and after replacing the libedgetpu path in the following commands and try the demo.

[code]

[2022-02-11 02:58] tom-gall commented on #72
Here is my output:

tgall@viper:/usr/include$ python3 -c 'from pycoral.utils.edgetpu import get_runtime_version; print(get_runtime_version())'
BuildLabel(COMPILER=6.3.0 20170516,DATE=redacted,TIME=redacted), RuntimeVersion(14)

and for libedgetpu I used apt-get

tgall@viper:~$ dpkg -s libedgetpu1-std
Package: libedgetpu1-std
Status: install ok installed
Priority: optional
Section: misc
Installed-S

[2022-02-11 22:44] hjonnala commented on #72
Okay, can you please share the output of following snippet. Thanks
https://github.com/google-coral/edgetpu/issues/491#issuecomment-948206410

[2022-02-24 03:57] yan-wyb opened #73 "Run coral demo fail : Failed to load delegate from libedgetpu.so.1"
### Description

1. My board is Khadas VIM3 (Amlogic A311D).
2. I follow [coral get-started doc](https://coral.ai/docs/m2/get-started#pycoral-on-linux) to test
3. Aarch64 Ubuntu 20.04
4. Kernel version: 4.9. (It work fine with mainline kernel on VIM3)

I've tried everything I can search but it doesn't work

### Issue Type

Bug

### Operating System

Ubuntu

### Coral Device

M.2 Accelerator B+M

#

[2022-02-24 04:21] manoj7410 commented on #73
@yan-wyb Can you paste the output of:

lspci -vvv

[2022-02-24 06:01] yan-wyb commented on #73
[code]

[2022-02-24 11:00] manoj7410 commented on #73
@yan-wyb The Coral device is detected but I see, "        Capabilities: <access denied>".  I have seen this before butunable to recall the exact issue. I'll try to look in the previous issues and will get back to you.

[2022-02-24 11:04] manoj7410 commented on #73
@yan-wyb Is the correct kernel header installed on your machine ?
Have you tried with the recent kernel versions?

[2022-02-25 01:28] yan-wyb commented on #73
I'm sure the kernel headers are installed, the system is maintained by ourselves, I'm from the Khadas team.
The latest 5.16 kernel can be used normally.
4.9  kernel is the version provided by the vendor, which is also very important to us. Many users hope to support this version.

[2022-02-25 01:28] yan-wyb commented on #73
I'm sure the kernel headers are installed, the system is maintained by ourselves, I'm from the Khadas team.
The latest 5.16 kernel can be used normally.
4.9  kernel is the version provided by the vendor, which is also very important to us. Many users hope to support this version.

[2022-02-25 17:49] hjonnala commented on #72
@tom-gall  are you still facing the issue?

[2022-03-01 12:51] roflcoopter opened #74 "Build for Python 3.8 on Ubuntu 18.04"
### Description

I need to build pycoral and tflite for for Python 3.8 on Ubuntu 18.04.

My application runs on a Jetson Nano (which only supports Ubuntu 18.04) and it requires Python 3.8.
If i install the pre-built wheels for Python 3.8 i get a dependency issue with GLIBC 2.29, which is not available in Ubuntu 18.04.

When i try to build this repo from source, and specify that i want to build for

[2022-03-01 18:36] hjonnala commented on #74
Hello @roflcoopter can you please check whether your default python version is 3.6 or 3.8.

https://github.com/google-coral/pycoral/blob/master/Makefile#L17

[2022-03-01 18:51] roflcoopter commented on #74
Thanks for your response!

Well, the script build.sh builds inside a docker container so my hosts python version wouldn't matter right?

I modified the script to launch an ubuntu:18.04 image as base but that produces python 3.6 binaries.

Tried modifying the Dockerfile as well to include python 3.8 but that results in dependency issues during build.

Is there a way to build without using docker?

[2022-03-01 20:40] hjonnala commented on #74
We don't have any steps to build with out docker.

I think, Docker image ubuntu:18.04 itself has python 3.6. Can you try to build the ubuntu image with python 3.8 and pass that image here: https://github.com/google-coral/pycoral/blob/master/scripts/build.sh#L44

[2022-03-02 13:01] roflcoopter commented on #74
Managed to do it!

I modified `scripts/build.sh` to launch an `ubuntu:18.04` image when Python 3.8 was selected.
Then i modified the `libcoral/docker/Dockerfile` and added these lines to install Python 3.8 and all required libraries
[code]

And lastly i modified https://github.com/google-coral/pycoral/blob/master/Makefile#L15 to:
[code]

[2022-03-02 13:01] #74 closed

[2022-03-02 17:59] shaunsingh opened #75 "ERROR: No matching distribution found for pycoral~=2.0"
### Description

Trying to install PyCoral, I always get the following error:

python -m pip install --extra-index-url https://google-coral.github.io/py-repo/ pycoral~=2.0                                         (edgetpu)
Looking in indexes: https://pypi.org/simple, https://google-coral.github.io/py-repo/
ERROR: Could not find a version that satisfies the requirement pycoral~=2.0 (from versions: 0

[2022-03-02 18:08] hjonnala commented on #75
Hello @shaunsingh  please try to install from whl files:  https://github.com/google-coral/edgetpu/issues/539#issuecomment-1040754426

[2022-03-02 19:43] shaunsingh commented on #75
Hi, those wheel files are for x86_64, while I am on `aarch64`. Would it still work?

[2022-03-03 01:00] yan-wyb commented on #73
Any update ? @manoj7410

[2022-03-03 22:57] hjonnala commented on #75
@shaunsingh   Can you please confirm which python version you are using. I think, you are using python3.9..If so, can you please try the below whl files. Thanks!

https://github.com/google-coral/pycoral/releases/download/v2.0.0/tflite_runtime-2.5.0.post1-cp39-cp39-macosx_11_0_x86_64.whl

https://github.com/google-coral/pycoral/releases/download/v2.0.0/pycoral-2.0.0-cp39-cp39-macosx_11_0_x86_64.whl

[2022-03-04 05:06] shaunsingh commented on #75
@hjonnala While I am using python 3.9, I'm running on an arm-based machine so wheels build for x86_64 will not work. I imagine this is the cause of the error.  I see that you build for `linux-aarch64`, would be be possible to build for aarch64-darwin as well? For example, numpy produces universal2 wheels, which can be used on m1 and intel machines: (https://github.com/numpy/numpy/releases/tag/v1.2

[2022-03-04 15:04] hjonnala commented on #75
@shaunsingh Okay, with current build scripts its not possible to build the Pycoral for M1 chip.. We would try to make changes and update the repo to support build for M1 CPU.

[2022-03-04 23:00] shaunsingh commented on #75
Thank you!

[2022-03-06 07:18] dmitriykovalev commented on #75
We have uploaded wheels for Apple M1 to https://github.com/google-coral/py-repo, please try to install `pycoral` by running

[code]

[2022-03-06 20:19] shaunsingh commented on #75
Works great, thank you!

[2022-03-06 20:19] #75 closed

[2022-03-06 21:07] shaunsingh commented on #75
Could you kindly release an updated build of the `edgetpu_runtime` as well? Currently my python script will fail to run as the latest released runtime still runs on x86
`/usr/local/lib/libedgetpu.1.dylib' (mach-o file, but is an incompatible architecture (have 'x86_64', need 'arm64e'))`

[2022-03-07 01:24] hjonnala commented on #75
Apple M1 build support is added for libedgetpu also. Please try to build the [edgetpu_runtime](https://github.com/google-coral/libedgetpu) for your platform. Thanks!

https://github.com/google-coral/libedgetpu/commit/f9ad0c42f415ac66591b7ac8f26b3f8fd3bf4cf5

[2022-03-08 12:38] dmitriykovalev commented on #75
New runtime is now available at  [release-grouper](https://github.com/google-coral/libedgetpu/releases/tag/release-grouper) or you can build it locally by running `make runtime`.

[2022-03-10 00:45] Bincci commented on #43
any updates on this?

[2022-03-10 18:06] hjonnala commented on #43
@Bincci For workaround please try the below steps and try the demo:

1. replace the model_pipelining_classify_image.py  with https://github.com/hjonnala/snippets/blob/main/pycoral_43/model_pipelining_classify_image.py
2. add pipeline_model_runneer.py (https://github.com/hjonnala/snippets/blob/main/pycoral_43/pipelined_model_runner.py) to pycoral/examples folder

[2022-03-10 23:25] Cen-Lu commented on #43
@hjonnala

Hi, thanks a lot for the update! But I tried the new workaround but it still doesn't work. Here's the error that I got,

Somehow it still raises "The pipeline was turned off before" bug.

[2022-03-11 00:57] Bincci commented on #43
@hjonnala

thanks for your reply. I tried the workaround on my desktop but it still has the same error as before. From my understanding, the problem is that the processing order of input images is not consistent with the order they are pushed into the runner. In this case, the empty input may be processed earlier than expected so that the pipeline is closed before all the inputs have been processe

[2022-03-11 02:26] hjonnala commented on #43
@Bincci @Cen-Lu Thanks for trying the code. I though this issue is for  "RuntimeError: Pipeline was turned off before" coming from python scripts.

The other logs (pipeline was turned off before) coming from [pipelined_model_runner.cc](https://github.com/google-coral/libcoral/blob/master/coral/pipeline/pipelined_model_runner.cc#L237) due to both threads are trying to close the pipeline. I think, i

[2022-03-11 08:16] Bincci commented on #43
@hjonnala yes I agree that the "RuntimeError: Pipeline was turned off before" issue is from python, and the other one is from c. But actually, they have the same reason that the empty request is received unexpectedly earlier than all other inputs have been processed.

I am not sure if this problem is from pybind or from c library. Looking forward to further discussion and new updates on this.

[2022-03-11 08:21] Bincci commented on #43
btw, I also tried to completely remove the `__del__(self)` function in python `PipelineModelRunner`, then I get the logs as follows:

[code]

As it can be seen in the log, the pipeline was turned off unexpectedly even if we only send one empty request from python.

[2022-03-11 15:15] Bincci commented on #43
@hjonnala thanks! Now I have understood the issue here. Yes, I agree the remaining issue is trivial, but it would be still very helpful if you can share some ideas to solve the issue in c. If so, I can have a try by modifying the code and compiling it natively.

[2022-03-11 17:01] hjonnala commented on #43
@Bincci I think, you just have to add logic [here](https://github.com/google-coral/libcoral/blob/master/coral/pipeline/pipelined_model_runner.cc#L171) to come out of the function without invoking shutdownpipeline when thread receives empty request and pipeline is turned off.

https://github.com/google-coral/libcoral/blob/master/coral/pipeline/pipelined_model_runner.cc#L171
[code]

[2022-03-11 18:22] binqi-sun commented on #43
@hjonnala thanks a lot!

[2022-03-18 19:17] scho0ck opened #76 "Runtime error There is at least 1 reference to internal data in the interpreter in the form of a numpy array or slice."
### Description

Getting the following error on my python flask app that exposes the interpreter on a web based service.

`_ensure_safe
    data access.""")
RuntimeError: There is at least 1 reference to internal data
      in the interpreter in the form of a numpy array or slice. Be sure to
      only hold the function returned from tensor() if you are using raw
      data access.`

This issue oc

[2022-03-18 22:43] hjonnala commented on #76
@scho0ck you have make sure all the requests process one by one. Can you try the solution (threading.Semaphore()) provided here: https://stackoverflow.com/questions/42325105/flask-processing-requests-1-by-1

[2022-03-19 11:13] scho0ck commented on #76
@hjonnala  Thanks a lot this solved my issue.

[2022-03-19 11:13] #76 closed

[2022-04-06 16:57] arrowkato commented on #59
The configuration with Ubuntu 20.04 and Python 3.9.7 and pycoral 2.0.0 was slow to the extent described top message.

The configuration of Ubuntu20.04 and Python3.9.10 and pycoral 2.0.0 was almost as fast as the configuration of ubuntu18.04 and python3.6 and pycoral1.0.1.

So the problem for us was solved.

Thank you.

[2022-04-06 17:53] #59 closed

[2022-05-03 08:58] samsterckval opened #77 "Can't run PyCoral on Ubuntu 18.04"
### Description

When trying to run the parrot demo on Ubuntu 18.04 VM, errors about GLIBC version are thrown, however, libc6 is newest available version.

`ImportError: /lib/x86_64-linux-gnu/libm.so.6: version 'GLIBC_2.29' not found`

`libc6 is already the newest version (2.27-3ubuntu1.5).`

`$ uname -a`
`Linux xxxxxx-VirtualBox 5.4.0-109-generic #123~18.04.1-Ubuntu SMP Fri Apr 8 09:48:52 UTC 202

[2022-05-03 14:26] Namburger commented on #77
@samsterckval hello, would you be able to use a newer ubuntu version? 18.04 has an older version of glibc and is not compatible with the new binaries

[2022-05-03 14:28] samsterckval commented on #77
Unfortunately I am not.  I guess compiling both pycoral and tflite_runtime locally would fix this issue?

[2022-05-03 17:42] hjonnala commented on #77
@samsterckval  please check this comment to build pycoral on ubuntu 18.04: https://github.com/google-coral/pycoral/issues/74#issuecomment-1056905305

[2022-05-03 19:33] nihalraman opened #78 "Cannot Set Up SSH Key"
### Description

Hi! When I try  connect to my devboard via "mdt shell," I get the following error message:

I followed the instructions at https://coral.ai/docs/dev-board/mdt/#install-mdt, and it looks like the same key is on both my local device and on the coral. Any help would be very appreciated. Thanks!

Waiting for a device...
Connecting to wishful-orange at 172.20.10.4
Key not present on wi

[2022-05-03 20:25] hjonnala commented on #78
@nihalraman can you please try the solution provided here changing ip address from 192.168.10 to 172.20.10 in site-packages/mdt/sshclient.py line 86: https://stackoverflow.com/questions/58938727/unable-to-connect-google-coral-using-otg-port/59035796#59035796

[2022-05-07 21:49] nihalraman commented on #78
Ah, ok that makes sense. Thanks!

[2022-05-12 01:37] vyang2968 opened #79 "Location of edgetpu_detect_server script"
### Description

Hi, I want to look at the code that runs when I runthe command `edgetpu_detect_server`. I just want to see how it streams usb camera to the Google browser. Thank you.

<details><summary>Click to expand!</summary>

 ### Issue Type

Support

### Operating System

Mendel Linux

### Coral Device

Dev Board

### Other Devices

_No response_

### Programming Language

Python 3.9

### Re

[2022-05-12 04:19] vyang2968 commented on #79
Found it! It's at https://coral.googlesource.com/edgetpuvision

[2022-05-12 04:19] #79 closed

[2022-05-16 14:54] #77 closed

[2022-05-22 09:14] sharoseali commented on #72
I am running the code in raspberry PI 4 and facing the issue
[code]

[2022-06-15 08:28] tcotte commented on #22
Hello @hjonnala, thank you for your fast answer.

I've tried this but it does not work in my case. I know it is maybe due to the fact there is not Coral_AI device plugged on my computer (the product is out of stock for the moment).
Here is my test : one colleague is inferring with his Coral_AI device and my model on his computer and I try without device to compare the inference speed.

Therefore,

[2022-06-16 06:42] tcotte commented on #22
I installed **_edgetpu_runtime_20210119.zip**, but I still get the same error.
I don't understand why, because the file **_pywrap_coral.cp38-win_amd64.pyd** is lying in **..\Miniconda3\envs\pred_batonnets\lib\site-packages\pycoral\pybind**.

I post the traceback of the error :

`Traceback (most recent call last):
  File "C:/Users/tristan_cotte/Documents/Oignies/pred_batonnets/detect_edgetpu/detect

[2022-06-27 09:02] johan12345 commented on #58
Looking at the [releases page](https://github.com/google-coral/pycoral/releases), Python 3.10 is now supported for the Apple M1 platform (`macosx_12_0_arm64`)... so why not the others as well?

[2022-06-30 00:44] tyouritsugun opened #81 "Can not install pycoral in Ubuntu Server 22.04 LTS for Raspberry Pi"
Hi,

Here is the steps to reproduce
[code]
I got
[code]
Then I tried to install python3-tflite-runtime, I got
[code]
It seems that my python version is incorrect, so I installed the python 3.8 and the result is
[code]
However, the problem remains unchanged.

Is there anyway to solve this problem?

Tyou

[2022-06-30 15:46] tyouritsugun commented on #81
I also tried Ubuntu Desktop 22.04 LTS  for Raspberry Pi, I met the same problem.

Thank you in advance

Tyou

[2022-06-30 15:51] hjonnala commented on #81
Please try building the pycoral on Ubuntu 22.04. Here is an example with Ubuntu 18.04 and python 3.8 : https://github.com/google-coral/pycoral/issues/74#issuecomment-1056905305

Thanks!

[2022-07-01 12:13] tyouritsugun commented on #81
Hi

Thank you for your reply. I changed `scripts/build.sh` as below:
[code]
Then I ran the script, after one hour I got the error as blow:
[code]
It seems that it is not easy to modify `scripts/build.sh`.

Do you have official support for Ubuntu Desktop(SERVER) 22.04 LTS?

Thank you in advance
Tyou

[2022-07-01 14:20] hjonnala commented on #81
We don't have any official support for Ubuntu Desktop(SERVER) 22.04 LTS. Please check this tutorial(https://www.youtube.com/watch?v=QqTLkw1IenI&list=PLQY2H8rRoyvz_anznBg6y3VhuSMcpN9oe&index=4) and try with [tflite-support](https://github.com/tensorflow/tflite-support) API.

[2022-07-01 14:39] tyouritsugun commented on #81
Thank you for your reply. I think that it is better to use 20.04 for now.

Tyou

[2022-07-01 14:39] #81 closed

[2022-07-05 14:46] tyouritsugun opened #82 "Segmentation fault when install pycoral"
Hi,
I met a segmentation fault when I try to install pycoral.

I first do this
https://coral.ai/docs/accelerator/get-started/#runtime-on-linux
and then do this
https://coral.ai/docs/accelerator/get-started/#pycoral-on-linux
then I got
[code]
I was running these in Bullseye system of Raspberry Pi, here is my system information
[code]
Could anyone tell me how to solve this problem?

Tyou

[2022-07-22 16:16] jakew009 commented on #58
Any update on this?

[2022-07-22 18:40] hjonnala commented on #58
Most likely tflite runtime wheels for python 3.10 would be available by end of 2022 by tensorflow/tfltie-support team. https://github.com/tensorflow/tensorflow/issues/56137

[2022-07-24 00:45] halogen28372 opened #83 "Cannot install python3-pycoral"
### Description

When I attempt to install pycoral I get the error below:

The following packages have unmet dependencies:
 python3-pycoral : Depends: python3-tflite-runtime (= 2.5.0.post1) but it is not going to be installed
                   Depends: python3 (< 3.10) but 3.10.4-0ubuntu2 is to be installed
E: Unable to correct problems, you have held broken packages.

I am installing on a fresh

[2022-07-25 14:34] hjonnala commented on #83
Please try building the pycoral on Ubuntu 22.04. Here is an example with Ubuntu 18.04 and python 3.8 : https://github.com/google-coral/pycoral/issues/74#issuecomment-1056905305

Thanks!

[2022-07-25 22:17] halogen28372 commented on #83
Thanks for the tip, but I'd really like an easier way to install. Is there a Ubuntu/Linux version that just works?

[2022-08-02 02:28] cdrose commented on #22
I just had this issue, in my case it was not having the [Microsoft Visual C++ 2019 redistributable](https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads) installed.

[2022-08-10 05:07] baudneo opened #85 "Python 3.10 and 3.11 support?"
Anyone compiled pycoral for 3.10 and 3.11? I am attempting to build them but I was wondering if someone else has already done this?

[2022-08-12 08:49] soundarsurya opened #86 "E: Unable to locate package edgetpu-compiler"
### Description

I'm trying to install edgetpu-compiler in my ubuntu machine. Followed the steps provided here [edgetpu-compiler](https://coral.ai/docs/edgetpu/compiler/#download). But i cannot able to install it.

Error i'm getting
[code]
Machine which i'm trying to install edgetpu-compiler
[code]
Logs of the steps i followed
[code]

<details><summary>Click to expand!</summary>

 ### Issue Type

[2022-08-12 12:40] hjonnala commented on #86
Please try running `sudo apt-get update` before running `sudo apt-get install edgetpu-compiler `.

[2022-08-13 16:01] fenil1608 commented on #85
Hi, any update on this ? I'm trying to use pycoral on ubuntu 22 with python 3.10.

[2022-08-15 04:11] baudneo commented on #85
I'm assuming no since the assignee hasn't replied to this issue but did reply to a newer issue.

It seems maybe it's based on dependencies that aren't available in 3.10+ yet. Only option I can see is the community forking the project and attempting to build for 3.10+.

I will give it a try when I have a bit of spare time.

[2022-08-15 05:34] fenil1608 opened #87 "Yocto hardknott arm64, and No module named 'pycoral.adapters'"
### Description

Hi, I'm trying to use the USB accelerator with IMX som module running on yocto hardknott with python version 3.9.5, after installing the pycoral from the release tarball, I'm still unable to use the pycoral API to run inference on USB Accelerator. The edgetpu library is already installed.

<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Operating System

Li

[2022-08-15 15:58] hjonnala commented on #87
can you please share the output of below commands. Thanks!

[code]

[2022-08-15 16:53] rikardn commented on #58
This is good news!

Python 3.11 will be out before this. Do you intend to also publish wheels for Python 3.11 before the year end?

[2022-08-16 07:04] soundarsurya commented on #86
Thanks, it worked!
Actually some proxy connection issue at my end.
Now Installed edgetpu-compiler into my system successfully.

[2022-08-16 07:04] #86 closed

[2022-08-17 05:10] fenil1608 commented on #87
root@imx8mpsolidrun:~# python3
Python 3.9.5 (default, May  3 2021, 15:11:33)
[GCC 10.2.0] on linux
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ModuleNotFoundError: No module named 'pycoral.utils'

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
NameError: name 'get_runtime_

[2022-08-17 05:10] #87 closed

[2022-08-18 14:19] johnsonafool opened #88 "Docker container cannot access EdgeTPU"
### Description

Hello, I am now doing project related to use EdgeTPU usb to making the inference of car flow and velocity, since I would like to test some code locally on my laptop (M1 sys mac), I feel like it's a good try with docker, however, when I set up the env like the tutorial on offical doc, the comtainer inside cannot access my TPU device, so I wonder it is the problem exisist on my lapt

[2022-08-18 15:58] hjonnala commented on #88
Please try the follow steps:

[code]
Place the below content on Dockerfile
[code]
[code]
Here are the logs for  reference: https://github.com/hjonnala/snippets/blob/main/USB/docker_logs.txt

[2022-08-25 20:00] #88 closed

[2022-08-25 22:39] #42 closed

[2022-08-28 04:48] halogen28372 commented on #83
I ended up using an older distro of Ubuntu and that worked fine.

[2022-09-06 08:03] puelon opened #89 "Coral USB failing to accelerate custom model"
I have a Transfer Learning model from a VGG16 that I trained on my thermal images and after doing PQAT to try and compress model size, I notice that it still has a large inference time of around 5 seconds per image. The same model being compressed to an intel neural stick 2 has around 450ms. I suspect that my model may not be compatible layer-wise with the coral usb device.  This is the link to my

[2022-09-07 02:15] puelon commented on #89
Please forgive me, due to the amount of optimization on my code I actually forgot to run the command to compile the model for Edge TPU, it is now running around 80ms on my Rpi

[2022-09-07 02:15] #89 closed

[2022-09-12 16:31] #83 closed

[2022-09-15 12:10] rubenkr opened #90 "Compilation fails on 5.19.8-arch1-1 x86/64"
### Description

Trying to install Coral on Archlinux installation. There is not working AUR package and trying to compile fails as of follows. Any help is very much appreciated !

➜  pycoral git:(master) scripts/build.sh
+++ dirname scripts/build.sh
++ cd scripts
++ pwd
+ readonly SCRIPT_DIR=/home/plex/pycoral/scripts
+ SCRIPT_DIR=/home/plex/pycoral/scripts
+ readonly MAKEFILE=/home/plex/pycoral/

[2022-09-15 13:52] hjonnala commented on #90
Please try the steps below and try the compilation. https://github.com/google-coral/pycoral#compilation

[code]

[2022-09-15 15:12] rubenkr commented on #90
Thank you. I tried this with following results:
[code]

[2022-09-15 18:03] hjonnala commented on #90
please delete the pycoral folder or try the below steps in a new folder:
[code]

[2022-09-15 20:39] rubenkr commented on #90
Wow ! Thanks that looks promising. I only get now an SSL connection error. Any ideas if this is temporary?

` ---> 59339a8f0bbf
Step 14/14 : RUN wget -O /bazel https://github.com/bazelbuild/bazel/releases/download/${BAZEL_VERSION}/bazel-${BAZEL_VERSION}-installer-linux-x86_64.sh &&     bash /bazel &&     rm -f /bazel
 ---> Running in 3eed4d740954
--2022-09-15 20:21:29--  https://github.com/bazelbu

[2022-09-15 20:57] hjonnala commented on #90
are you trying to build on a corporate machine or personal laptop? https://github.com/Azure/AppConfiguration/issues/244#issuecomment-696922615

[2022-09-15 21:40] rubenkr commented on #90
its my personal laptop which I am using as my main server for home-assistant, frigate, etc.

[2022-09-16 07:27] rubenkr commented on #90
Unfortunately a build error has happened in the end:

`Use --sandbox_debug to see verbose messages from the sandbox
In file included from external/ruy/ruy/pack_arm.cc:16:
external/ruy/ruy/pack_arm.h:492:9: warning: multi-line comment [-Wcomment]
  492 | #endif  // (RUY_PLATFORM_NEON_64 || RUY_PLATFORM_NEON_32) && \
      |         ^
external/ruy/ruy/pack_arm.cc: In function 'void ruy::Pack8bitColM

[2022-09-16 11:50] UcefMountacer commented on #82
got the same error with a raspberry pi:

`Linux raspberrypi 5.15.32-v7l+ #1538 SMP Thu Mar 31 19:39:41 BST 2022 armv7l GNU/Linux`

I was following the coral guide

[2022-09-16 23:25] hjonnala commented on #90
Can you please share for which python version  are you trying to build the pycoral?

[2022-09-17 02:05] rubenkr commented on #90
Sure. I tried it again this night. And I think it is related to this comment here:
https://aur.archlinux.org/packages/python-pycoral#comment-854595

➜  ~  python --version

Python 3.10.7

[2022-09-18 00:32] kzgrey commented on #24
If you get this error, its because there's a directory in the repo called pycoral.  If you `mv pycoral pycoral2` everything starts working.  No need to downgrade Python.

[2022-09-19 07:16] rubenkr commented on #90
@hjonnala any update when Python 3.10 compatible wheels will be released?

[2022-09-19 17:31] hjonnala commented on #90
HI @rubenkr Unfortunately, we don't have any plans to release wheels for python 3.10. If possible please use 3.9. And with the current build scripts you won't be able to build for python 3.10. Please try making necessary changes to the below scripts. Thanks!!

https://github.com/google-coral/pycoral/blob/master/scripts/build.sh#L21
https://github.com/google-coral/pycoral/blob/master/scripts/build.

[2022-09-20 11:12] rubenkr commented on #90
@hjonnala Thank you. I am using archlinux since months as my main server OS and feel uncomfortable to change this. As for pycoral should be supported in Linux I am waiting for other TPU coming to the market and returned my Coral device. Thank you!

[2022-09-20 11:12] #90 closed

[2022-09-25 21:10] benank opened #91 "`make_interpreter` works on runtime version 20210119 but not on version 20220308 (Windows 11)"
### Description

I am using Windows 11. I was having the exact [same issue as this person](https://github.com/google-coral/pycoral/issues/57) where `make_interpreter` fails silently, but then I installed the earlier recommended runtime from [this reply](https://github.com/google-coral/pycoral/issues/57#issuecomment-981782175) and it started working. Is there an issue with the latest runtime, or am

[2022-09-26 17:26] hjonnala commented on #91
Yes, there is an issue with latest edgeTPU runtime for windows platform.

[2022-10-01 13:18] nmaas87 commented on #91
I am seeing the same thing with Windows 10. Is there an update planed / which issue does prevent this? Is it still the same as https://github.com/google-coral/pycoral/issues/39 ?

[2022-10-02 01:43] hjonnala commented on #91
Hello @nmaas87 , @benank
Please try the below steps to fix the issues with edgetpu runtime 14.

- uninstall any previous runtimes.
- install edgetpu runtime from edgetpu_runtime_20220308 zip file: https://coral.ai/software/#edgetpu-runtime
- install `edgetpu_runtime_20220308/edgetpu_runtime/third_party/usbdk/UsbDk_1.0.22_x64` manually.
- replace `c:/windows/system32/libusb-1.0.dll` with `edgetpu_r

[2022-10-02 12:39] nmaas87 commented on #91
Thank you very much @hjonnala - just tried it and it did work perfectly on Windows 10 x64! 💯

[2022-10-03 18:58] travisariggs commented on #85
@baudneo , did you ever find any spare time to try building for 3.10?  I am very interested in running on 3.10. I tried simply updating the `build.sh` docker image to use `ubuntu:22.04`, but that wasn't enough to get it to work.

[2022-10-03 20:44] baudneo commented on #85
It's based on wheels for scikit or tensorflow from what I understand. When the upstream team releases the wheels than 3.x integration can happen

[2022-10-04 02:14] #91 closed

[2022-10-06 09:11] jiapei100 commented on #58
I actually build **tflite** from source and installed. However, after I successfully built and installed **pycoral** from source, I got the following **ERROR**s:

[code]

[2022-10-06 18:24] hillyuyichu opened #92 "Pycoral python API accuracy loss when running inference on a series of images."
### Description

I'm running Pycoral python API on my Raspberry Pi 4 with Coral USB Accelerator.

My program basically captures images from camera and upload them to the google cloud. Before going to the cloud, the images go through the image classification with pre-trained tflite model (used Google's vertex AI service).

My problem is when I used my program, the image classification suffers an ac

[2022-10-07 02:40] ImanHosseini commented on #69
I reflashed and fixed.

[2022-10-07 02:40] #69 closed

[2022-10-07 12:11] Corallo opened #93 "Normalize input in object detector example"
### Description

Hello, I took a look at your object detector example [here](https://github.com/google-coral/pycoral/blob/master/examples/detect_image.py)
That uses SSD mobilenetv2 ([among the suggested parameters](https://github.com/google-coral/pycoral/blob/master/examples/detect_image.py#L26)) from the [coral page](https://coral.ai/models/object-detection/).

Looking with Netron at the network,

[2022-10-12 15:13] hjonnala commented on #93
Hello @Corallo I think normalization and quantization not required for the detection demo. Feel free to add the code from [classify_image.py](https://github.com/google-coral/pycoral/blob/master/examples/classify_image.py#L81) if you wish to do so. Thanks!

[2022-10-15 10:21] peteh commented on #85
As far as I understand both scikit and tensorflow have 3.10 compatibility marked in pipy. However, I'm failing to run the examples on ubuntu 22.04

[2022-10-15 16:39] baudneo commented on #85
Compatibility yes, wheels no. Wheels are needed by pycoral to build their 3.10 stuff.

[2022-10-17 15:06] ghbn8 commented on #14
How was this resolved? This appears to still be an issue.

[2022-10-18 05:46] hjonnala commented on #14
@ghbn8 Please add the below line [here](https://github.com/google-coral/pycoral/blob/master/examples/detect_image.py#L77) to run the demo with the image mentioned at: https://github.com/google-coral/pycoral/issues/14#issuecomment-775176844. Thanks!

image = image.convert('RGB')

[2022-10-18 08:33] #93 closed

[2022-10-24 16:47] hjonnala commented on #92
Hello @hillyuyichu seems to be you are creating multiple interpreters for different classifiers on single TPU at: https://github.com/hillyuyichu/Pycoral-python-API/blob/main/pycoral_classification.py#L163. If you want to run/load multiple models on same TPU either you have compile the models with [co comiplation](https://coral.ai/docs/edgetpu/compiler/#co-compiling-multiple-models), recommended on

[2022-10-24 23:34] hillyuyichu commented on #92
Thank you for the reply @hjonnala !

I'm loading 5 models into a library but only one is set as active and being run each time. [config.json](https://github.com/hillyuyichu/Pycoral-python-API/blob/05f175a5197eef2c14c12b5db7bf2326cc765fec/config.json#L34)

Here is how my program looks like on front end[ UI screenshot ](https://github.com/hillyuyichu/Pycoral-python-API/blob/main/Screenshot_20221024_

[2022-10-24 23:37] hillyuyichu commented on #92
Is there an updated version for downloading EdgeTPU compiler?

This seems to be deprecated:

[code]

[2022-10-25 05:02] hjonnala commented on #92
can you try creating the interpreter inside the for loop at: https://github.com/hillyuyichu/Pycoral-python-API/blob/main/pycoral_classification.py#L70 instead pre loading the models.

We don't have any updated version of EdgeTPU compiler. Fell free to use the [colab tutorial](https://colab.sandbox.google.com/github/google-coral/tutorials/blob/master/compile_for_edgetpu.ipynb) if you are having any

[2022-10-26 01:16] hillyuyichu commented on #92
I've moved the interpreter inside the for loop. It doesn't seem to change anything.

I have also done the co-compilation for two of my models. The performance has improved a little bit. Before, it was way off. However, it still doesn't give the correct predictions.
For example, when I put an empty pan in front of the camera, I got a prediction result of 0.80 for empty_pan label on your Pycoral's e

[2022-10-28 03:58] dnguyen800 commented on #83
Which version of Ubuntu did you use?

[2022-10-28 04:23] halogen28372 commented on #83
It was 18 point something. It was the most up to date 18 available at the time.

[2022-11-07 16:01] hjonnala commented on #85
please try the [wheels](https://github.com/hjonnala/snippets/tree/main/wheels/python3.10), built locally on Linux, for pyhton3.10 and let us know if those are working on ubuntu:22.04. Thanks!

[2022-11-07 16:17] hjonnala commented on #58
Please check the Linux machine wheels for tflite and pycoral for python3.10 at: https://github.com/hjonnala/snippets/tree/main/wheels/python3.10

[2022-11-07 16:27] baudneo commented on #85
Will give her a go tonight!

[2022-11-08 07:07] baudneo commented on #85
Ill have to make a build of Ubuntu 21.10 (glibc 2.34) or 22.04 (glibc 2.35) as 21.04 uses glibc 2.33 and throws this error ->
[code]

[2022-11-08 14:22] rikardn commented on #58
Thanks! I have tested it and it works fine.

[2022-11-08 14:50] rikardn commented on #58
For information:

This wheel does not work on github actions with `ubuntu-latest`: `ImportError: /lib/x86_64-linux-gnu/libc.so.6: version 'GLIBC_2.33' not found (required by /home/runner/work/pharmpy/pharmpy/.tox/unit/lib/python3.10/site-packages/tflite_runtime/_pywrap_tensorflow_interpreter_wrapper.cpython-310-x86_64-linux-gnu.so)`

I also tested `ubuntu-22.04` on GHA and it works there.

[2022-11-08 15:29] hjonnala commented on #58
Thanks for the info. It seems ubuntu-latest, on [GHA](https://github.blog/changelog/2022-08-09-github-actions-ubuntu-22-04-is-now-generally-available-on-github-hosted-runners/), comes with ubuntu-20.4 and likely to be change to ubuntu-22.04 soon.

[2022-11-08 21:48] travisariggs commented on #85
I tried it on my yocto kirkstone system with the same error (though different version of GLIBC)

[code]

Do you have instructions to build this shared object?

[2022-11-09 03:04] hjonnala commented on #85
Please install the [bazel](https://bazel.build/install/ubuntu) and try building the [pycoral](https://github.com/google-coral/pycoral) itself and share the complete logs if there are any errors.

[code]

[2022-11-09 20:14] travisariggs commented on #85
I was not able to build on a fresh image of Ubuntu 22.04.

I installed bazelisk, cloned the pycoral repo and ran `make`.

My error log is attached.

[build-fail.log](https://github.com/google-coral/pycoral/files/9974782/build-fail.log)

[2022-11-10 02:28] hjonnala commented on #85
Please check whether /usr/include/python3.10 path exist and change  _get_python_include function in this file as below and rerun the make command: /home/ubuntu/.cache/bazel/_bazel_ubuntu/d8383202a9b6366beeb5d874af8d5d3f/external/org_tensorflow/third_party/py/python_configure.bzl

[code]

[2022-11-10 02:35] hjonnala commented on #85
You may get some other errors after rerun. Please add the below lines to /home/ubuntu/.cache/bazel/_bazel_ubuntu/d8383202a9b6366beeb5d874af8d5d3f/external/ruy/ruy/block_map.cc

[code]

[2022-11-10 21:32] travisariggs commented on #85
The path `/usr/include/python3.10` did not exist on my Ubuntu 22 system.  I installed "python3-numpy", which did create that base path.

I modified the `_get_python_include` to return "/usr/include/python3.10".  I then ran `make`.  Here is the log of that failure:

[20221110-build-fail-1.log](https://github.com/google-coral/pycoral/files/9984712/20221110-build-fail-1.log)

I then added <stdexcept>

[2022-11-10 23:13] baudneo commented on #85
It has compiled and is working as expected on a new 22.04 Jammy install

[2022-11-11 20:27] travisariggs commented on #85
I started with a brand new install of Ubuntu 22.  This time, I installed these apt packages before attempting to build the wheel files:

1. build-essential
2. git
3. python3-dev
4. python3-wheel
5. python3-numpy

Then, I did the following:

1. Installed bazelisk
2. Cloned pycoral
3. Ran make (failed)
4. Edited python_configure.bzl to return the python include path
5. Ran make (failed)
6. Edited bl

[2022-11-11 20:31] baudneo commented on #85
Build it on your yocto system using its libs.

[2022-11-15 16:40] hjonnala commented on #58
If the wheels are not working for your machine, feel free to try to build for your platform and check the issue to fix the common issues while building: https://github.com/google-coral/pycoral/issues/85#issuecomment-1308139930.. Thanks!

[2022-11-15 16:40] #58 closed

[2022-11-26 12:43] dollarusername2 opened #94 "Coral EdgeTPU USB Support - Not recognized/not changing vendor ID"
### Description

Hey folks,

I am trying to get the awesome frigate project to run with my newly bought Coral EdgeTPU USB.

It works fine on the "old" server (details see below), but somehow only shows as the generic USB device in the new, will not be picked up by frigate and will not change vendor ID.

The strange thing: I am using exactly the same docker container of frigate (tested both, latest

[2022-11-27 03:30] soysauce10 commented on #94
I'm also trying to fix something similar with my setup, but have you seen this? https://github.com/blakeblackshear/frigate/discussions/2599#discussioncomment-3621686

[2022-11-27 09:25] dollarusername2 commented on #94
Hey @soysauce10 ,

Thanks for pointing this out. I tried this at the beginning, but it didn't help. Just to make sure: I just tried again to move the USB from devices to volumes and it didn't help...

Where are you stuck?

[2022-11-28 06:25] hjonnala commented on #94
Hi @dollarusername2 can you try  the demo adding  the  below lines at: https://github.com/google-coral/pycoral/blob/master/examples/classify_image.py#L41 and share the logs..

[code]

[2022-11-28 12:14] marinakrcek opened #95 "common input size expects 4 values"
### Description

from pycoral.adapters import common
size = common.input_size(interpreter)

implementation expects 4 values for the shape, while MLP can can have shape with just, for example, 1 x height x width of the picture.
This is the implementation that throws the error then: _, height, width, _ = input_details(interpreter, 'shape')
ValueError: not enough values to unpack (expected 4, got 3)

[2022-11-28 12:59] hjonnala commented on #95
Seems `input_details(interpreter, 'shape')` is returning only 3 values and your code expecting 4 values.

Please try `_, height, width = input_details(interpreter, 'shape')`

[2022-11-28 20:49] dollarusername2 commented on #94
Good evening @hjonnala ,

the demo works fine (after installing virtualenv and the old python...). Vendor ID is changed after running the demo. (However frigate is still not working).

Anyway, please find the verbose logs attached.

`(pycoral-test) mira@esprimo:~/pycoral-test/pycoral$ python3 examples/classify_image.py --model test_data/mobilenet_v2_1.0_224_inat_bird_quant_edgetpu.tflite --labels

[2022-11-29 01:46] hjonnala commented on #94
Can you please share similar logs form the frigate container and the output of `lsusb` command inside the container.